Restart ICE if  a mid-dialog re-INVITE contains no offer

_2014-09-08 09:59:10: @mingteluu_ _created the issue on trac ticket [1783](https://trac.pjsip.org/repos/ticket/1783)_

According to RFC 5245 section 12.5:
The flows for continued operation, as described in Section 7 of RFC 3725, require additional behavior of ICE implementations to support. If an agent receives a mid-dialog re-INVITE that contains no offer, it MUST restart ICE for each media stream and go through the process of gathering new candidates.

App can modify this behaviour by setting RESTART_ICE_ON_REINVITE to 0 (default is enabled).

___
_2014-09-09 05:48:27: @mingteluu_ _edited the issue description_

___
_2014-09-15 10:07:02: @mingteluu_ _changed **status** from **new** to **closed**_

___
_2014-09-15 10:07:02: @mingteluu_ _set **resolution** to **fixed**_

___
_2014-09-15 10:07:02: @mingteluu_ _commented_

In [4923]
Fixed #1783: Restart ICE if a mid-dialog re-INVITE contains no offer