Add pjsua/pjsua2 callback to notify incoming re-INVITE without offer

_2015-10-01 11:01:25: @nanangizz_ _created the issue on trac ticket [1892](https://trac.pjsip.org/repos/ticket/1892)_

When receiving re-INVITE without offer, RFC3261 section 14.2 recommends UAS to generate offer with all capabilities that the UA is willing to support to avoid the need for the peer to reject the session description. Some SIP UA (e.g: B2BUA) seem to rely on this recommendation for media switching (e.g: stop IVR and start video).

Currently the behaviour of pjsua is to automatically send offer generated from the current active session, application is not involved in the offer generation. This callback will give the application a better control in the offer generation, for example it may add video via modifying call setting, enable/disable codecs from within the callback, so application could put all its capabilities in the offer.

___
_2015-10-02 03:01:01: @nanangizz_ _edited the issue description_

___
_2015-10-02 03:08:19: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2015-10-02 03:08:19: @nanangizz_ _set **resolution** to **fixed**_

___
_2015-10-02 03:08:19: @nanangizz_ _commented_

In [r5185](../commit/04ecb0376e39accbf8f2659d98154b4b63df5af1):
Close #1892: Add pjsua/pjsua2 callback on_call_tx_offer()/Call::onCallTxOffer() to notify incoming re-INVITE without offer.
