SIPS uris are being forward to TLS transport regardless of 'transport=' parameter

### Describe the bug

After looking into #1740 I wonder if the specification was correctly interpreted. From the spec quote in that issue:
```
As specified in [RFC3261 8.1.2](http://tools.ietf.org/html/rfc3261#section-8.1.2):
 
   Independent of which URI is used as input to the procedures of [4], if the
   Request-URI specifies a SIPS resource, the UAC MUST follow the
   procedures of [4] as if the input URI were a SIPS URI.

   Local policy MAY specify an alternate set of destinations to attempt.
   If the Request-URI contains a SIPS URI, any alternate destinations
   MUST be contacted with TLS.
```
However if we look into reference [4] of RFC3261, section [4.1](https://www.rfc-editor.org/rfc/rfc3263#section-4.1) Selecting a Transport Protocol, we can read the following:
```
First, the client selects a transport protocol.

   If the URI specifies a transport protocol in the transport parameter,
   that transport protocol SHOULD be used.

   Otherwise, if no transport protocol is specified, but the TARGET is a
   numeric IP address, the client SHOULD use UDP for a SIP URI, and TCP
   for a SIPS URI.  Similarly, if no transport protocol is specified,
   and the TARGET is not numeric, but an explicit port is provided, the
   client SHOULD use UDP for a SIP URI, and TCP for a SIPS URI.  This is
   because UDP is the only mandatory transport in [RFC 2543](https://www.rfc-editor.org/rfc/rfc2543) [[6](https://www.rfc-editor.org/rfc/rfc3263#ref-6)], and thus
   the only one guaranteed to be interoperable for a SIP URI.  It was
   also specified as the default transport in [RFC 2543](https://www.rfc-editor.org/rfc/rfc2543) when no transport
   was present in the SIP URI.  However, another transport, such as TCP,
   MAY be used if the guidelines of SIP mandate it for this particular
   request.  That is the case, for example, for requests that exceed the
   path MTU.
```

We can see the transport parameter is the first criteria for transport selection.

The way PJSIP is currently implemented, if we have a _sips_ with a custom transport (for example websockets 'transport=ws'), it will always forward the request to the TLS transport instead of any potencial custom transport implemented to handle the request properly (in this example a custom transport to deal with web sockets).

Taking the example of the web sockets transport, the current implementation also contradicts the RFC 7118, [section 9](https://www.rfc-editor.org/rfc/rfc7118.html#section-9.2). We can read from section 9.2 the following:

```

The "sips" scheme in a SIP URI dictates that the entire request path
   to the target be secure.  If such a path includes a WebSocket
   connection, it MUST be a secure WebSocket connection.
``
`

With the current implementation is impossible to have a sips URI to reach a custom transport because it is forced to be handled by TLS transport.
 

### Steps to reproduce

N/A

### PJSIP version

2.12.1

### Context

N/A

### Log, call stack, etc

```shell
N/A
```


hello. any feedback on this one?

Reading it again, it looks like that you're right.

Fortunately, there seems to be an easy solution provided by #1740, which is `PJSIP_DONT_SWITCH_TO_TLS' setting in compile-time, or 'pjsip_cfg()->disable_tls_switch' during runtime. Let us know if this works as expected.


Additional information for this is provided in #1735.
In particular, RFC 5630, which updates RFC 3261, specifies:
```
This document specifies that SIPS means that the SIP resource
   designated by the target SIPS URI is to be contacted securely, using
   TLS on each hop between the UAC and the remote UAS (as opposed to
   only to the proxy responsible for the target domain of the Request-
   URI).  It is outside of the scope of this document to specify what
   happens when a SIPS URI identifies a UAS resource that "maps" outside
   the SIP network, for example, to other networks such as the Public
   Switched Telephone Network (PSTN).
```
So I think the current behaviour is correct. And the config to disable the behaviour also allows the usage outside SIP as well, just like for your use case.


Your proposal does not work because the transport selection is already incorrect in method _pjsua_acc_get_uac_addr_ of pjsua_acc. Specifically this block of code:

```
 /* Get transport type of the URI */
    if (PJSIP_URI_SCHEME_IS_SIPS(sip_uri))
	tp_type = PJSIP_TRANSPORT_TLS;
    else if (sip_uri->transport_param.slen == 0) {
	tp_type = PJSIP_TRANSPORT_UDP;
    } else
	tp_type = pjsip_transport_get_type_from_name(&sip_uri->transport_param);
```

Regarding what's said in RFC 5630, the sentence "_It is outside of the scope of this document to specify what
   happens when a SIPS URI identifies a UAS resource that "maps" outside
   the SIP network"_ corresponds to the exact scenario described earlier.
So I think the obligation to blindly forward traffic through a secure transport only applies to SIP hops. In this case, since a websocket tunnel is being used to conduct SIP traffic, it seems to me we fall into the section which is outside of the scope of rfc 5630.

After checking the code here:
https://github.com/pjsip/pjproject/blob/master/pjsip/src/pjsip/sip_util.c#L816

Actually there's no forcing to use TLS transport (despite what #1740 and the code comment say). The only requirement is that it will select a secure and reliable transport. So make sure your custom transport has this flag. And you don't need to modify `disable_tls_switch` setting.
We know one of our users has successfully done this with WSS transport, so there should be no problem with this.

As for the contact generation, yes you're right it's currently hardcoded to TLS. I have created a patch attached below.
[pjsua_acc_sips_contact.txt](https://github.com/pjsip/pjproject/files/10407584/pjsua_acc_sips_contact.txt)

Alternatively, you can manually set the contact via 'force_contact`.


The patch you provided worked! Can you include this fix?