Add flash support for DTMF based on RFC 2833

_2014-02-10 15:17:16: @trengginas_ _created the issue on trac ticket [1734](https://trac.pjsip.org/repos/ticket/1734)_

At the moment, pjsip supports DTMF event type 0-15 as described in RFC 2833 section 3.10. This ticket will add support for event type 16 (flash), and it will be represented by character 'R' as stated on RFC 4730 section 3.6.
___
_2014-02-11 04:46:50: @trengginas_ _commented_

In [r4739](../commit/7a019dab29ae6b2646a9ae874eaeaa3e085c4075):
Re #1734: Add flash support for DTMF rfc 2833.


___
_2014-02-27 03:07:04: @bennylp_ _changed **status** from **new** to **closed**_

___
_2014-02-27 03:07:04: @bennylp_ _set **resolution** to **fixed**_