Allow Via header with IPv6 containing []

_2020-02-06 02:50:28: @mingteluu_ _created the issue on trac ticket [2266](https://trac.pjsip.org/repos/ticket/2266)_


When using PJSIP and a SIP packet containing Via "received" with an IPv6 address delimited by [ and ] is received, PJSIP drops such a packet complaining about the [ and ]. No calls can be established.
```
Via: SIP/2.0/UDP [2001:db8::9:1];received=[2001:db8::9:255];branch=z9hG4bKas3-111"
```

From RFC 5118 section 4.5:
  While it would be beneficial if the same non-terminal
  ("IPv6reference") was used for both the "sent-by" and "via-received"
  production rules, there has not been a consensus in the working group
  to that effect.  Thus, the best that can be suggested is that
  implementations must follow the Robustness Principle [RFC1122] and be
  liberal in accepting a "received" parameter with or without the
  delimiting [ and ] tokens.  When sending a request,
  implementations must not put the delimiting [ and ] tokens.

References:
https://issues.asterisk.org/jira/browse/ASTERISK-26955
https://gerrit.asterisk.org/c/asterisk/+/13599/1/third-party/pjproject/patches/0040-brackets-in-via-received-params.patch

Thanks to Sean Bright for the patch.

___
_2020-02-06 02:52:12: @mingteluu_ _changed **status** from **new** to **closed**_

___
_2020-02-06 02:52:12: @mingteluu_ _set **owner** to **@mingteluu**_

___
_2020-02-06 02:52:12: @mingteluu_ _set **resolution** to **fixed**_

___
_2020-02-06 02:52:12: @mingteluu_ _commented_

In [r6158](../commit/601d6e6824a7bea35322da15caf18ae05c3917b5):
Fixed #2266: Allow Via header with IPv6 containing []
