Handle incoming UPDATE before 101-199 response is received

_2013-05-18 06:53:54: @bennylp_ _created the issue on trac ticket [1667](https://trac.pjsip.org/repos/ticket/1667)_

The specification does not allow callee to send UPDATE before 101-199 provisional response with a tag is sent. This is because the dialog has not been established before a tag is response, and UPDATE can only be sent on an established dialog (early or confirmed).

Reference: [RFC 3261 Section 12.1](http://tools.ietf.org/html/rfc3261#section-12.1) and [RFC 3311 Section 3](http://tools.ietf.org/html/rfc3311#section-3)

But we receive this anyway. Since we already handle the case when NOTIFY arrives before SUBSCRIBE response, we should tolerate this scenario as well.



___
_2013-05-18 06:54:23: @bennylp_ _changed **status** from **new** to **closed**_

___
_2013-05-18 06:54:23: @bennylp_ _set **resolution** to **fixed**_

___
_2013-05-18 06:54:23: @bennylp_ _commented_

In [r4521](../commit/6ce69351d239eaad94e2540620b639d0f65c10f1):
Fixed #1667: Handle incoming UPDATE before 101-199 response is received
