Asterisk with pjsip short-dumps when OpenSSL is switched to FIPS mode

### Describe the bug

When OpenSSL is switched to FIPS mode (e.g. on Ubuntu using pro support) MD5-digest based, asterisk will segfault trying to register when SIP trunk vendor allows only MD5 digest.

### Steps to reproduce

0. get ubuntu 24.04, connect to pro account, pro enable fips
1. install Asterisk connecting to a SIP trunk with user/pass authorization and vendor expects MD5 digest
2. start Asterisk, it will segfault when trying to REGISTER

### PJSIP version

2.15.1

### Context

- ubuntu 24.04, pro, FIPS enabled
- Asterisk 22.5.2
- supervoip.pl SIP trunk provider with user/pass authorization

relevant config:
[supervoip-auth]
type = auth
auth_type = digest
username = YOUR_USER
password = YOUR_PASS
supported_algorithms_uac = SHA-256, SHA-512-256, MD5


### Log, call stack, etc

```shell
[...]
Asterisk Ready. [New Thread 0x7fffa545d6c0 (LWP 542594)] *CLI> [New Thread 0x7fffa53e06c0 (LWP 542861)] [2025-09-16 12:13:03] ERROR[542559]: pjproject: <?>: tlsc0x7fff9c21bbc8 RFC 5922 (section 7.2) does not allow TLS wildcard certificates. Advise your SIP provider, please! [2025-09-16 12:13:03] NOTICE[542559]: res_pjsip/pjsip_transport_events.c:190 verify_log_result: Transport 'transport-tls' to remote 'sip.supervoip.pl' - 213.199.246.200:5061 - OK

Thread 23 "asterisk" received signal SIGSEGV, Segmentation fault. [Switching to Thread 0x7fffa6b816c0 (LWP 542560)] 0x0000000000000000 in ?? () (gdb) bt #0 0x0000000000000000 in ??? () #1 0x00007fffad1d4471 in pjsip_auth_create_digest2 () at /usr/local/lib/libpjsip.so.2 #2 0x00007fffad1d4df5 in auth_respond () at /usr/local/lib/libpjsip.so.2 #3 0x00007fffad1d61c4 in pjsip_auth_clt_reinit_req () at /usr/local/lib/libpjsip.so.2 #4 0x00007fffac06340d in digest_create_request_with_auth (auth_ids_vector=<optimized out>, challenge=<optimized out>, old_request=<optimized out>, new_request=<optimized out>) at res_pjsip_outbound_authenticator_digest.c:596 #5 0x00007fffa7c7e2f1 in handle_registration_response (data=<optimized out>) at res_pjsip_outbound_registration.c:1486 #6 0x00005555557248cd in ast_taskprocessor_execute (tps=tps@entry=0x555555ec8b30) at taskprocessor.c:1302 #7 0x000055555572b1c8 in execute_tasks (data=0x555555ec8b30) at threadpool.c:1350 #8 0x00005555557248cd in ast_taskprocessor_execute (tps=0x5555564b0e50) at taskprocessor.c:1302 #9 0x000055555572bc7c in threadpool_execute (pool=0x5555564acd00) at threadpool.c:367 #10 worker_active (worker=<optimized out>) at threadpool.c:1137 #11 worker_start (arg=arg@entry=0x7fffa0000be0) at threadpool.c:1056 #12 0x00005555557340d5 in dummy_start (data=<optimized out>) at utils.c:1607 #13 0x00007ffff729caa4 in start_thread (arg=<optimized out>) at ./nptl/pthread_create.c:447 #14 0x00007ffff7329c3c in clone3 () at ../sysdeps/unix/sysv/linux/x86_64/clone3.S:78 (gdb)
```

Fixed by #4603.
