Handle 2nd INVITE when in confirmed state

### Describe the bug

Our measuring device uses pjsip for a sip trunk account with SIP TLS and SRTP. SIP Registration and IN-Calls are working as expected.
We made a backport of the commit "Handle 2nd INVITE when in early state #3458" from pjsip-2.14, but the reinvite is received while the call
is active ("confirmed"). In this case the active RTP-Sockets stop and the new RTP-Sockets created by the pjsip-stack go to "Local hold"

### Steps to reproduce

Difficult, because running on a measuring device.

### PJSIP version

2.13

### Context

Linux with kernel-4.9 on our measuring device

### Log, call stack, etc

```shell
10:53:42.868 sip_endpoint.c  .Module "mod-pjsua-log" registered
10:53:42.869   pjsua_core.c  .Nameserver 10.0.0.5 added
10:53:42.869 sip_endpoint.c  .Module "mod-tsx-layer" registered
10:53:42.869 sip_endpoint.c  .Module "mod-stateful-util" registered
10:53:42.869 sip_endpoint.c  .Module "mod-ua" registered
10:53:42.869 sip_endpoint.c  .Module "mod-100rel" registered
10:53:42.869 sip_endpoint.c  .Module "mod-pjsua" registered
10:53:43.278 sip_endpoint.c  .Module "mod-invite" registered
10:53:43.295          pjlib  ..select() I/O Queue created (0x18928f4)
10:53:43.296     endpoint.c  ..endpoint sss = TRUE
10:53:43.296     endpoint.c  ..endpoint no_vad = TRUE
10:53:43.296 argus_sipua_au  ..pjsua_aud_subsys_init START
10:53:43.296 argus_sipua_au  ..Opened /dev/vmmc10
10:53:43.296 argus_sipua_au  ..Opened /dev/vmmc11
[   29.004020] IFX_MPS: Info - use FW MBox Layout 2
[   29.007340] ifx_mps_fastbuf_cfg_setup() - warning, keep external setup

Outside WAIT got IPI interrupt to launch from cpu 01

MSG_ID = 00000001
10:53:43.445 argus_sipua_au  ..Jitter Buffer: fixed
10:53:43.445 argus_sipua_au  ..Jitter Buffer Min: 100
10:53:43.445 argus_sipua_au  ..Jitter Buffer Max: 200
10:53:43.445 argus_sipua_au  ..pjsua_aud_subsys_init END
10:53:43.518 sip_endpoint.c  .Module "mod-evsub" registered
10:53:43.519 sip_endpoint.c  .Module "mod-presence" registered
10:53:43.519 sip_endpoint.c  .Module "mod-mwi" registered
10:53:43.519 sip_endpoint.c  .Module "mod-refer" registered
10:53:43.519 sip_endpoint.c  .Module "mod-pjsua-pres" registered
10:53:43.524 sip_endpoint.c  .Module "mod-pjsua-im" registered
10:53:43.524 sip_endpoint.c  .Module "mod-pjsua-options" registered
10:53:43.525   pjsua_core.c  .1 SIP worker threads created
10:53:43.525   pjsua_core.c  .pjsua version 2.13.1 for Linux-4.9.206/mips/glibc-2.2 initialized
10:53:43.525   pjsua_core.c  .PJSUA state changed: CREATED --> INIT
10:53:43.525 sip_endpoint.c  Module "mod-default-handler" registered
10:53:43.525 sip_endpoint.c  Module "argus_voip_log_default_handler" registered
10:53:43.531 argus_sipua_au  *** Call to unimplemented function pjsua_conf_add_port ***
10:53:43.531 argus_sipua_au  *** Call to unimplemented function pjsua_conf_add_port ***
10:53:43.531 argus_sip_ua_a  Add TLS transport unless it's disabled.
10:53:43.536     tlstp:5060  SIP TLS listener is ready for incoming connections at 10.0.90.18:5060
10:53:43.536    pjsua_acc.c  Adding account: id=<sip:10.0.90.18:5060;transport=TLS>
10:53:43.537    pjsua_acc.c  .Account <sip:10.0.90.18:5060;transport=TLS> added with id 0
10:53:43.538    pjsua_acc.c  Modifying account 0
10:53:43.538    pjsua_acc.c  Acc 0: setting online status to 1..
10:53:43.538    pjsua_acc.c  Adding account: id=sip:+495241708027@ext-siptrunk.sip.bitel.net
10:53:43.538    pjsua_acc.c  .Account sip:+495241708027@ext-siptrunk.sip.bitel.net added with id 1
10:53:43.539    pjsua_acc.c  .Acc 1: setting unregistration..
10:53:43.542    pjsua_acc.c  ..Contact for acc 1 updated: sip:+495241708027@10.0.90.18:5060;transport=tls;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-00008fb6cd9a>"
10:53:43.544    pjsua_acc.c  ..Warning: cannot use source TCP/TLS socket address for Contact when nameserver is configured.
10:53:43.545     resolver.c  ...Transmitting 55 bytes to NS 0 (10.0.0.5:53): DNS SRV query for _sips._tcp.ext-siptrunk.sip.bitel.net: Success
10:53:43.546    pjsua_acc.c  ..Acc 1: Unregistration sent
10:53:43.546    pjsua_acc.c  Acc 1: setting online status to 1..
10:53:43.546   pjsua_core.c  PJSUA state changed: INIT --> STARTING
10:53:43.546 argus_sipua_au  ..pjsua_aud_subsys_start
10:53:43.546 sip_endpoint.c  .Module "mod-unsolicited-mwi" registered
10:53:43.546   pjsua_core.c  .PJSUA state changed: STARTING --> RUNNING
10:53:43.546 argus_sip_ua_m  Ready: Success
>>>>
Account list:
  [ 0] <sip:10.0.90.18:5060;transport=TLS>: does not register
       Online status: Online
 *[ 1] sip:+495241708027@ext-siptrunk.sip.bitel.net: 100/In Progress (expires=0)
       Online status: Online
Buddy list:
 -none-

+=============================================================================+
|       Call Commands:         |   Buddy, IM & Presence:  |     Account:      |
|                              |                          |                   |
|  m  Make new call            | +b  Add new buddy        | +a  Add new accnt.|
|  M  Make multiple calls      | -b  Delete buddy         | -a  Delete accnt. |
|  a  Answer call              |  i  Send IM              | !a  Modify accnt. |
|  h  Hangup call  (ha=all)    |  s  Subscribe presence   | rr  (Re-)register |
|  H  Hold call                |  u  Unsubscribe presence | ru  Unregister    |
|  v  re-inVite (release hold) |  t  Toggle online status |  >  Cycle next ac.|
|  U  send UPDATE              |  T  Set online status    |  <  Cycle prev ac.|
| ],[ Select next/prev call    +--------------------------+-------------------+
|  x  Xfer call                |      Media Commands:     |  Status & Config: |
|  X  Xfer with Replaces       |                          |                   |
|  #  Send RFC 2833 DTMF       | cl  List ports           |  d  Dump status   |
|  *  Send DTMF with INFO      | cc  Connect port         | dd  Dump detailed |
| dq  Dump curr. call quality  | cd  Disconnect port      | dc  Dump config   |
|                              |  V  Adjust audio Volume  |  f  Save config   |
|  S  Send arbitrary REQUEST   | Cp  Codec priorities     |                   |
+-----------------------------------------------------------------------------+
|  q  QUIT      L  ReLoad       I  IP change     n  detect NAT type           |
|  sleep MS     echo [0|1|txt]                                                |
+=============================================================================+
You have 0 active call
10:53:43.568 _sips._tcp.ext !SRV query_job for _sips._tcp.ext-siptrunk.sip.bitel.net completed, 1 of 1 total entries selected:
10:53:43.881 _sips._tcp.ext   0: SRV 10 10 5061 sbc05.ext-siptrunk.sip.bitel.net (178.208.113.136)
10:53:43.881 argus_sip_ua_a !EVENT_CE_SERVICE_VOIP_CLIENT_READY: Success
10:53:43.881  tlsc0x18c0b54 !TLS client transport created
10:53:43.882  tlsc0x18c0b54  TLS transport 10.0.90.18:37069 is connecting to ext-siptrunk.sip.bitel.net:5061...
10:53:43.882 argus_sip_ua_a  argus_voip_log_on_tx_request
10:53:43.883   pjsua_core.c  TX 491 bytes Request msg REGISTER/cseq=60121 (tdta0x18ba354) to TLS 178.208.113.136:5061:
REGISTER sip:ext-siptrunk.sip.bitel.net;transport=tls SIP/2.0
Via: SIP/2.0/TLS 10.0.90.18:5060;rport;branch=z9hG4bKPj35452cdf-4a29-4f11-b361-6c78076468eb;alias
Max-Forwards: 70
From: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=9b51294c-c1b8-4fe6-b76d-256217580806
To: <sip:+495241708027@ext-siptrunk.sip.bitel.net>
Call-ID: 144b1ff1-9ccb-422f-9479-8e5cc11f69d6
CSeq: 60121 REGISTER
User-Agent: ARGUS300
Supported: outbound, path
Contact: *
Expires: 0
Content-Length:  0


--end msg--
10:53:43.899 ssl_sock_ossl.  OpenSSL version : 1010111f
10:53:44.052  tlsc0x18c0b54  RFC 5922 (section 7.2) does not allow TLS wildcard certificates. Advise your SIP provider, please!
10:53:44.052 argus_sip_ua_a  SIP TLS transport is connected to ext-siptrunk.sip.bitel.net:5061
10:53:44.052 argus_sip_ua_a  TLS cipher used: 0x001302/TLS_AES_256_GCM_SHA384
10:53:44.052 argus_sip_ua_a  TLS cert info of ext-siptrunk.sip.bitel.net:5061:
  Version    : v3
  Serial     : 7D C0 E8 AB 04 B0 6B DE 85 12 94 FE 9F A2 55 BC
  Subject    : *.sip.bitel.net
               /CN=*.sip.bitel.net
  Issuer     : Sectigo RSA Domain Validation Secure Server CA
               /C=GB/ST=Greater Manchester/L=Salford/O=Sectigo Limited/CN=Sectigo RSA Domain Validation Secure Server CA
  Valid from : Fri 2024-07-05 01:00:00.000 GMT
  Valid to   : Sun 2025-07-06 00:59:59.000 GMT
  subjectAltName extension
         DNS : *.sip.bitel.net
         DNS : sip.bitel.net

10:53:44.052 argus_sip_ua_a  TLS cert verification result of ext-siptrunk.sip.bitel.net:5061 : 
10:53:44.052 argus_sip_ua_a  - The certificate is untrusted
10:53:44.053 argus_sip_ua_a  - The server identity does not match to any identities specified in the certificate
10:53:44.053 argus_sip_ua_a  PJSUA is configured to ignore TLS cert verification errors
10:53:44.053  tlsc0x18c0b54  TLS transport 10.0.90.18:37069 is connected to ext-siptrunk.sip.bitel.net:5061
10:53:44.171   pjsua_core.c  .RX 552 bytes Response msg 200/REGISTER/cseq=60121 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 10.0.90.18:5060;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj35452cdf-4a29-4f11-b361-6c78076468eb
From: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=9b51294c-c1b8-4fe6-b76d-256217580806
To: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=07-32706-005ed6ac-1ed4866b1
Call-ID: 144b1ff1-9ccb-422f-9479-8e5cc11f69d6
CSeq: 60121 REGISTER
Allow: REGISTER,OPTIONS,INVITE,ACK,CANCEL,BYE,NOTIFY,PRACK,REFER,INFO,SUBSCRIBE,UPDATE
Expires: 0
Server: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--
10:53:44.172    pjsua_acc.c  ....sip:+495241708027@ext-siptrunk.sip.bitel.net: unregistration success
10:53:44.172    pjsua_acc.c  ....Acc 1: setting registration..
10:53:44.172    pjsua_acc.c  .....Contact for acc 1 updated: sip:+495241708027@10.0.90.18:5060;transport=tls;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-00008fb6cd9a>"
10:53:44.506    pjsua_acc.c  .....Warning: cannot use source TCP/TLS socket address for Contact when nameserver is configured.
10:53:44.507 _sips._tcp.ext  ......SRV query_job for _sips._tcp.ext-siptrunk.sip.bitel.net completed, 1 of 1 total entries selected:
10:53:44.507     resolver.c  ......Transmitting 50 bytes to NS 0 (10.0.0.5:53): DNS A query for sbc05.ext-siptrunk.sip.bitel.net: Success
10:53:44.508    pjsua_acc.c  .....Acc 1: Registration sent
10:53:44.509 argus_sip_ua_a  argus_voip_log_on_tx_request

10:53:44.509   pjsua_core.c  TX 713 bytes Request msg REGISTER/cseq=13818 (tdta0x18e96a4) to TLS 178.208.113.136:5061:
REGISTER sip:ext-siptrunk.sip.bitel.net;transport=tls SIP/2.0
Via: SIP/2.0/TLS 10.0.90.18:5060;rport;branch=z9hG4bKPj03580989-308e-44c1-814d-72b6f83bbf71;alias
Max-Forwards: 70
From: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=4a653bf5-ba09-42a4-8d9d-fa1dfe771d74
To: <sip:+495241708027@ext-siptrunk.sip.bitel.net>
Call-ID: e2482dd4-d135-44fa-bbe9-c3fce59f1d89
CSeq: 13818 REGISTER
User-Agent: ARGUS300
Supported: outbound, path
Contact: <sip:+495241708027@10.0.90.18:5060>;transport=tls;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-00008fb6cd9a>"
Expires: 3600
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Content-Length:  0


--end msg--
10:53:44.549   pjsua_core.c  .RX 703 bytes Response msg 401/REGISTER/cseq=13818 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 401 Unauthorized
Via: SIP/2.0/TLS 10.0.90.18:5060;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj03580989-308e-44c1-814d-72b6f83bbf71
From: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=4a653bf5-ba09-42a4-8d9d-fa1dfe771d74
To: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=00-07896-e81ca0c5-65dbafcd5
Call-ID: e2482dd4-d135-44fa-bbe9-c3fce59f1d89
CSeq: 13818 REGISTER
Allow: REGISTER,OPTIONS,INVITE,ACK,CANCEL,BYE,NOTIFY,PRACK,REFER,INFO,SUBSCRIBE,UPDATE
WWW-Authenticate: Digest realm="ext-siptrunk.sip.bitel.net",nonce="e81c9f907ffc84001a8241f55142c1a0",opaque="e81b9ab9485de0e",stale=false,algorithm=MD5
Server: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--
10:53:44.549 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136
10:53:44.549    pjsua_acc.c  ....IP address change detected for account 1 (10.0.90.18:5060 --> 91.38.58.164:61218). Updating registration (using method 4)
10:53:44.883    pjsua_acc.c  ....Contact for acc 1 updated: <sip:+495241708027@91.38.58.164:61218;transport=TLS;ob>;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-00008fb6cd9a>"
10:53:44.883 sip_auth_clien  ...Digest algorithm is "MD5"
10:53:44.884 argus_sip_ua_a  ....argus_voip_log_on_tx_request
10:53:44.885   pjsua_core.c  ....TX 986 bytes Request msg REGISTER/cseq=13819 (tdta0x18e96a4) to TLS 178.208.113.136:5061:
REGISTER sip:ext-siptrunk.sip.bitel.net;transport=tls SIP/2.0
Via: SIP/2.0/TLS 91.38.58.164:61218;rport;branch=z9hG4bKPj8e224328-f3ad-4959-bd58-58e8642d1ad7;alias
Max-Forwards: 70
From: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=4a653bf5-ba09-42a4-8d9d-fa1dfe771d74
To: <sip:+495241708027@ext-siptrunk.sip.bitel.net>
Call-ID: e2482dd4-d135-44fa-bbe9-c3fce59f1d89
CSeq: 13819 REGISTER
User-Agent: ARGUS300
Supported: outbound, path
Contact: <sip:+495241708027@91.38.58.164:61218;transport=TLS;ob>;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-00008fb6cd9a>"
Expires: 3600
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Authorization: Digest username="+495241708027", realm="ext-siptrunk.sip.bitel.net", nonce="e81c9f907ffc84001a8241f55142c1a0", uri="sip:ext-siptrunk.sip.bitel.net;transport=tls", response="1b5f6b9c3d71b454f215b4031fb98a80", algorithm=MD5, opaque="e81b9ab9485de0e"
Content-Length:  0


--end msg--
10:53:44.928   pjsua_core.c  .RX 704 bytes Response msg 200/REGISTER/cseq=13819 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj8e224328-f3ad-4959-bd58-58e8642d1ad7
From: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=4a653bf5-ba09-42a4-8d9d-fa1dfe771d74
To: <sip:+495241708027@ext-siptrunk.sip.bitel.net>;tag=00-07896-e81ca0c5-65dbafcd5
Call-ID: e2482dd4-d135-44fa-bbe9-c3fce59f1d89
CSeq: 13819 REGISTER
Contact: <sip:+495241708027@10.0.90.18:5060>;+sip.instance="<urn:uuid:00000000-0000-0000-0000-00008fb6cd9a>";expires=3600;transport=tls;reg-id=1
Allow: REGISTER,OPTIONS,INVITE,ACK,CANCEL,BYE,NOTIFY,PRACK,REFER,INFO,SUBSCRIBE,UPDATE
Expires: 3600
Server: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--
10:53:44.929 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136
10:53:44.929    pjsua_acc.c  ....SIP outbound status for acc 1 is not active
10:53:45.263    pjsua_acc.c  ....sip:+495241708027@ext-siptrunk.sip.bitel.net: registration success, status=200 (OK), will re-register in 3600 seconds
10:54:00.097 argus_sip_ua_a !received Message
10:54:00.098 intec_sip_ua_l  argus_sip_ua rcvd: EVENT_CE_TEST_VOIP_MAKE_CALL 02351907026@ext-siptrunk.sip.bitel.net bTestId: 9, bSubTestId: 0
10:54:00.098   pjsua_call.c  Making call with acc #1 to sip:02351907026@ext-siptrunk.sip.bitel.net
10:54:00.099 argus_sipua_au  .*** Call to unimplemented function pjsua_set_snd_dev ***
10:54:00.102  pjsua_media.c  .Call 0: initializing media..
10:54:00.104  pjsua_media.c  ..RTP socket reachable at 91.38.58.164:10000
10:54:00.104  pjsua_media.c  ..RTCP socket reachable at 91.38.58.164:10001
10:54:00.106  pjsua_media.c  ..Media index 0 selected for audio call 0
10:54:00.106   udp0x18e0108  ..UDP media transport created
10:54:00.123  srtp0x18e0310  .SRTP uses keying method SDES
10:54:00.127 _sips._tcp.ext  ....SRV query_job for _sips._tcp.ext-siptrunk.sip.bitel.net completed, 1 of 1 total entries selected:
10:54:00.129 argus_sip_ua_a  ....argus_voip_log_on_tx_request
10:54:00.130   pjsua_core.c  ....TX 1576 bytes Request msg INVITE/cseq=25411 (tdta0x18c1fac) to TLS 178.208.113.136:5061:
INVITE sip:02351907026@ext-siptrunk.sip.bitel.net SIP/2.0
Via: SIP/2.0/TLS 91.38.58.164:61218;rport;branch=z9hG4bKPj21900a2b-4dce-4d18-ae28-43277bcf05ef;alias
Max-Forwards: 70
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: sip:02351907026@ext-siptrunk.sip.bitel.net
Contact: <sip:+495241708027@91.38.58.164:61218;transport=TLS;ob>
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25411 INVITE
Route: <sip:ext-siptrunk.sip.bitel.net;transport=tls;lr>
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, norefersub
User-Agent: ARGUS300
P-Preferred-Identity: 05241708020 <sip:05241708020@ext-siptrunk.sip.bitel.net;transport=tls>
Content-Type: application/sdp
Content-Length:   754

v=0
o=- 3946614840 3946614840 IN IP4 91.38.58.164
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 10000 RTP/SAVP 8 0 101
c=IN IP4 91.38.58.164
b=TIAS:64000
a=rtcp:10001 IN IP4 91.38.58.164
a=sendrecv
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=silenceSupp:off - - - -
a=ssrc:1621552966 cname:64d28ac515f28399
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:WKImHPU+DJ4joMkZ/b1OP2sPFH2Cr0pPXZ/xggUWbaEaQifFLvftpTzQG1x0kA==
a=crypto:2 AES_256_CM_HMAC_SHA1_32 inline:Bw0ecu33OLbWRRzR88VOLU27f5UMzSU2JK4u4tTiTeyLj2MmrDblpf2jFzUeZg==
a=crypto:3 AES_CM_128_HMAC_SHA1_80 inline:yoIhDokqONRTdmpz0DdzIkUpcihPZ4PWH+gSBYbe
a=crypto:4 AES_CM_128_HMAC_SHA1_32 inline:Dau55vSjIVuS4r7DhEGGPfWYeSzs1k4efAakhbvB

--end msg--
10:54:00.144 argus_sip_ua_a  .......Call 0 state changed to CALLING
10:54:00.162   pjsua_core.c !.RX 421 bytes Response msg 100/INVITE/cseq=25411 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 100 Trying
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj21900a2b-4dce-4d18-ae28-43277bcf05ef
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: <sip:02351907026@ext-siptrunk.sip.bitel.net>
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25411 INVITE
Server: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--
10:54:00.163 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136
10:54:00.181   pjsua_core.c  .RX 702 bytes Response msg 407/INVITE/cseq=25411 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 407 Proxy Authentication Required
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj21900a2b-4dce-4d18-ae28-43277bcf05ef
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07867-e81caaa4-3b3678dc0
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25411 INVITE
Allow: REFER,INVITE,NOTIFY,INFO,ACK,UPDATE,OPTIONS,REGISTER,SUBSCRIBE
Proxy-Authenticate: Digest realm="ext-siptrunk.sip.bitel.net",nonce="e81ca6ad0bd22ac93187fcb674a6b818",opaque="e81b9ab9485de0e",stale=false,algorithm=MD5
Server: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--

10:54:00.358 argus_sip_ua_a !received Message
10:54:00.499 argus_sip_ua_a !.argus_voip_log_on_rx_response 178.208.113.136
10:54:00.502 argus_sip_ua_a  ..argus_voip_log_on_tx_request
10:54:00.503   pjsua_core.c  ..TX 493 bytes Request msg ACK/cseq=25411 (tdta0x18fbc54) to TLS 178.208.113.136:5061:
ACK sip:02351907026@ext-siptrunk.sip.bitel.net SIP/2.0
Via: SIP/2.0/TLS 91.38.58.164:61218;rport;branch=z9hG4bKPj21900a2b-4dce-4d18-ae28-43277bcf05ef;alias
Max-Forwards: 70
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: sip:02351907026@ext-siptrunk.sip.bitel.net;tag=00-07867-e81caaa4-3b3678dc0
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25411 ACK
Route: <sip:ext-siptrunk.sip.bitel.net;transport=tls;lr>
Content-Length:  0


--end msg--

10:54:00.506 sip_auth_clien  ....Digest algorithm is "MD5"
10:54:00.509 argus_sip_ua_a  .......argus_voip_log_on_tx_request
10:54:00.510   pjsua_core.c  .......TX 1844 bytes Request msg INVITE/cseq=25412 (tdta0x18c1fac) to TLS 178.208.113.136:5061:
INVITE sip:02351907026@ext-siptrunk.sip.bitel.net SIP/2.0
Via: SIP/2.0/TLS 91.38.58.164:61218;rport;branch=z9hG4bKPj6e989b25-2b55-44ab-b703-1e7cbf607053;alias
Max-Forwards: 70
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: sip:02351907026@ext-siptrunk.sip.bitel.net
Contact: <sip:+495241708027@91.38.58.164:61218;transport=TLS;ob>
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25412 INVITE
Route: <sip:ext-siptrunk.sip.bitel.net;transport=tls;lr>
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, norefersub
User-Agent: ARGUS300
P-Preferred-Identity: 05241708020 <sip:05241708020@ext-siptrunk.sip.bitel.net;transport=tls>
Proxy-Authorization: Digest username="+495241708027", realm="ext-siptrunk.sip.bitel.net", nonce="e81ca6ad0bd22ac93187fcb674a6b818", uri="sip:02351907026@ext-siptrunk.sip.bitel.net", response="17cbe9854a87aff30e7c13b26cb2af0a", algorithm=MD5, opaque="e81b9ab9485de0e"
Content-Type: application/sdp
Content-Length:   754

v=0
o=- 3946614840 3946614840 IN IP4 91.38.58.164
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 10000 RTP/SAVP 8 0 101
c=IN IP4 91.38.58.164
b=TIAS:64000
a=rtcp:10001 IN IP4 91.38.58.164
a=sendrecv
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=silenceSupp:off - - - -
a=ssrc:1621552966 cname:64d28ac515f28399
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:WKImHPU+DJ4joMkZ/b1OP2sPFH2Cr0pPXZ/xggUWbaEaQifFLvftpTzQG1x0kA==
a=crypto:2 AES_256_CM_HMAC_SHA1_32 inline:Bw0ecu33OLbWRRzR88VOLU27f5UMzSU2JK4u4tTiTeyLj2MmrDblpf2jFzUeZg==
a=crypto:3 AES_CM_128_HMAC_SHA1_80 inline:yoIhDokqONRTdmpz0DdzIkUpcihPZ4PWH+gSBYbe
a=crypto:4 AES_CM_128_HMAC_SHA1_32 inline:Dau55vSjIVuS4r7DhEGGPfWYeSzs1k4efAakhbvB

--end msg--

10:54:00.876   pjsua_core.c  .RX 421 bytes Response msg 100/INVITE/cseq=25412 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 100 Trying
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj6e989b25-2b55-44ab-b703-1e7cbf607053
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: <sip:02351907026@ext-siptrunk.sip.bitel.net>
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25412 INVITE
Server: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--
10:54:00.876 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136
10:54:01.315   pjsua_core.c  .RX 693 bytes Response msg 180/INVITE/cseq=25412 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 180 Ringing
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj6e989b25-2b55-44ab-b703-1e7cbf607053
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07868-e81caafa-7c2316c04
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25412 INVITE
Contact: <sip:178.208.113.136:5061;transport=tls>
Allow: REFER,INVITE,NOTIFY,INFO,ACK,UPDATE,OPTIONS,REGISTER,SUBSCRIBE
Server: Mediant VE SBC/v.7.40A.501.392
History-Info: <sip:02351907026@ext-siptrunk.sip.bitel.net;user=phone?privacy=none>;index=1
Content-Length: 0
P-Early-Media: sendonly


--end msg--
10:54:01.316 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136

10:54:01.318 argus_sip_ua_a  .....Call 0 state changed to EARLY (180 Ringing)
10:54:01.336   pjsua_core.c  .RX 920 bytes Response msg 183/INVITE/cseq=25412 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 183 Session Progress
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj6e989b25-2b55-44ab-b703-1e7cbf607053
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07868-e81caafa-7c2316c04
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25412 INVITE
Contact: <sip:178.208.113.136:5061;transport=tls>
Supported: sdp-anat
Server: Mediant VE SBC/v.7.40A.501.392
Content-Type: application/sdp
Content-Length: 352

v=0
o=- 1064434024 1429261007 IN IP4 178.208.113.136
s=pjmedia
b=AS:84
t=0 0
m=audio 19612 RTP/SAVP 8 101
c=IN IP4 178.208.113.136
a=ptime:20
a=sendrecv
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15,16
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:eIVioEujcg+I97S0ewod4lmtOt+aAabd3mleTlC18N9cGPpjE2MIs8lOpAzQvA==|2^31

--end msg--
10:54:01.337 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136
10:54:01.338 argus_sip_ua_a  .....Call 0 state changed to EARLY (183 Session Progress)
10:54:01.340   inv0x18b9b44  ....SDP negotiation done: Success
10:54:01.341  pjsua_media.c  .....Call 0: updating media..
10:54:01.343   udp0x18e0108  .......UDP media transport detached
10:54:01.344  pjsua_media.c  .......Media stream call00:0 is destroyed
10:54:01.344   udp0x18e0108  ......UDP media transport started
10:54:01.348  srtp0x18e0310  ......SRTP started, keying=SDES, crypto=AES_256_CM_HMAC_SHA1_80
10:54:01.349 argus_sipua_au  ......pjsua_aud_channel_update
10:54:01.349   udp0x18e0108  .......UDP media transport attached
10:54:01.351 argus_sipua_au  .......encoding_name PCMA
10:54:01.351 argus_sipua_au  .......fmt.pt 8
10:54:01.685 argus_sipua_au  .......fmt.type 1
10:54:01.685 argus_sipua_au  .......fmt.type 8000
10:54:01.686 argus_sipua_au  .......fmt.type 1
10:54:01.686 argus_sipua_au  .......enc_ptime 0
10:54:01.686 argus_sipua_au  .......frm_ptime 10
10:54:01.687 argus_sipua_au  .......info.clock_rate 8000
10:54:01.687 argus_sipua_au  .......info.pcm_bits_per_sample 16
10:54:01.688 argus_sipua_au  .......setting.frm_per_pkt 2
10:54:01.688 argus_sipua_au  .......nFrameLength 20
10:54:01.689 argus_sipua_au  .......pjsua_aud_channel_update start DSP
10:54:01.689 argus_sipua_au  .......pjsua_aud_channel_update SSRC 0x6E0B0273, Seq 37631
10:54:01.690 argus_sipua_au  .......TX Event Payload Type: 101
10:54:01.690 argus_sipua_au  .......pjsua_aud_channel_update END
10:54:01.691  pjsua_media.c  ......Audio updated, stream #0: PCMA (sendrecv)
10:54:01.692 argus_sip_ua_a  .....Call 0 media 0 [type=audio], status is Active
10:54:03.233   pjsua_core.c  .RX 1069 bytes Response msg 200/INVITE/cseq=25412 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 91.38.58.164:61218;alias;received=91.38.58.164;rport=61218;branch=z9hG4bKPj6e989b25-2b55-44ab-b703-1e7cbf607053
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07868-e81caafa-7c2316c04
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25412 INVITE
Contact: <sip:178.208.113.136:5061;transport=tls>
Supported: sdp-anat
Allow: REFER,INVITE,NOTIFY,INFO,ACK,UPDATE,OPTIONS,REGISTER,SUBSCRIBE
Server: Mediant VE SBC/v.7.40A.501.392
History-Info: <sip:02351907026@ext-siptrunk.sip.bitel.net;user=phone?privacy=none>;index=1
Content-Type: application/sdp
Content-Length: 352

v=0
o=- 1064434024 1429261007 IN IP4 178.208.113.136
s=pjmedia
b=AS:84
t=0 0
m=audio 19612 RTP/SAVP 8 101
c=IN IP4 178.208.113.136
a=ptime:20
a=sendrecv
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15,16
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:eIVioEujcg+I97S0ewod4lmtOt+aAabd3mleTlC18N9cGPpjE2MIs8lOpAzQvA==|2^31

--end msg--
10:54:03.235 argus_sip_ua_a  .argus_voip_log_on_rx_response 178.208.113.136
10:54:03.237 argus_sip_ua_a  .....Call 0 state changed to CONNECTING
10:54:03.238   inv0x18b9b44  ....Received final response after SDP negotiation has been done in early media. Renegotiating SDP..
10:54:03.239   inv0x18b9b44  ....SDP negotiation done: Success
10:54:03.240  pjsua_media.c  .....Call 0: updating media..
10:54:03.242   udp0x18e0108  .......UDP media transport detached
10:54:03.242  pjsua_media.c  .......Media stream call00:0 is destroyed
10:54:03.243   udp0x18e0108  ......UDP media transport started
10:54:03.244 argus_sipua_au  ......pjsua_aud_channel_update
10:54:03.245   udp0x18e0108  .......UDP media transport attached
10:54:03.245 argus_sipua_au  .......pjsua_aud_channel_update stop DSP ?
10:54:03.246 argus_sipua_au  .......read and discard vinetic rtp packets! 0
10:54:03.247 argus_sipua_au  .......pjsua_aud_channel_update DSP stopped!
10:54:03.247 argus_sipua_au  .......encoding_name PCMA
10:54:03.247 argus_sipua_au  .......fmt.pt 8
10:54:03.248 argus_sipua_au  .......fmt.type 1
10:54:03.248 argus_sipua_au  .......fmt.type 8000
10:54:03.248 argus_sipua_au  .......fmt.type 1
10:54:03.248 argus_sipua_au  .......enc_ptime 0
10:54:03.249 argus_sipua_au  .......frm_ptime 10
10:54:03.249 argus_sipua_au  .......info.clock_rate 8000
10:54:03.249 argus_sipua_au  .......info.pcm_bits_per_sample 16
10:54:03.250 argus_sipua_au  .......setting.frm_per_pkt 2
10:54:03.250 argus_sipua_au  .......nFrameLength 20
10:54:03.251 argus_sipua_au  .......pjsua_aud_channel_update start DSP
10:54:03.251 argus_sipua_au  .......pjsua_aud_channel_update SSRC 0x59CD7F03, Seq 51102
10:54:03.251 argus_sipua_au  .......TX Event Payload Type: 101
10:54:03.252 argus_sipua_au  .......pjsua_aud_channel_update END
10:54:03.252  pjsua_media.c  ......Audio updated, stream #0: PCMA (sendrecv)
10:54:03.253 argus_sip_ua_a  .....Call 0 media 0 [type=audio], status is Active
10:54:03.256 argus_sip_ua_a  .....argus_voip_log_on_tx_request

10:54:03.257   pjsua_core.c  .....TX 431 bytes Request msg ACK/cseq=25412 (tdta0x18ff75c) to TLS 178.208.113.136:5061:
ACK sip:178.208.113.136:5061;transport=tls SIP/2.0
Via: SIP/2.0/TLS 91.38.58.164:61218;rport;branch=z9hG4bKPj75c7af68-3966-4af8-b9df-3d5b4e453b28;alias
Max-Forwards: 70
From: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
To: sip:02351907026@ext-siptrunk.sip.bitel.net;tag=00-07868-e81caafa-7c2316c04
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 25412 ACK
Content-Length:  0


--end msg--

10:54:03.594 argus_sip_ua_a  .....Call 0 state changed to CONFIRMED
10:54:03.658   pjsua_core.c  .RX 1428 bytes Request msg INVITE/cseq=1 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
INVITE sip:+495241708027@91.38.58.164:61218;transport=TLS;ob SIP/2.0
Via: SIP/2.0/TLS 178.208.113.136:5061;alias;branch=z9hG4bKac1189403799
Max-Forwards: 68
From: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07868-e81caafa-7c2316c04
To: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 1 INVITE
Contact: <sip:178.208.113.136:5061;transport=tls>
Supported: sdp-anat
Allow: REFER,INVITE,NOTIFY,INFO,ACK,UPDATE,OPTIONS,REGISTER,SUBSCRIBE
User-Agent: Mediant VE SBC/v.7.40A.501.392
Content-Type: application/sdp
Content-Length: 789

v=0
o=anonymous 1064434024 1429261008 IN IP4 178.208.113.136
s=SIP Call
c=IN IP4 178.208.113.136
t=0 0
m=audio 19612 RTP/AVP 8 101
b=AS:82
a=rtpmap:8 PCMA/8000/1
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=ptime:20
a=sendrecv
m=audio 19612 RTP/SAVP 8 101
b=AS:82
a=rtpmap:8 PCMA/8000/1
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-15
a=ptime:20
a=sendrecv
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:eIVioEujcg+I97S0ewod4lmtOt+aAabd3mleTlC18N9cGPpjE2MIs8lOpAzQvA==|2^31
a=crypto:2 AES_CM_128_HMAC_SHA1_80 inline:sKtX+WlNAs8C9R8rMUghawcIstf7hsWiriRzH0ik|2^31
a=crypto:3 AES_CM_128_HMAC_SHA1_32 inline:ku8OAPD8PyARl08PkSd8QWWSthRMdo5xJFjHsBpH|2^31
a=crypto:4 AES_256_CM_HMAC_SHA1_32 inline:h9FHqM2huQcLSWbU//DkfIXzexuysMlwcGKvdAUjik2JFltFDEX+ivgfvDiLuQ==|2^31

--end msg--
10:54:03.659 argus_sip_ua_a  .argus_voip_log_on_rx_request
10:54:03.662   pjsua_call.c  .....Call 0: received updated media offer
10:54:03.662  pjsua_media.c  ......Call 0: re-initializing media..
10:54:03.664  pjsua_media.c  .......RTP socket reachable at 91.38.58.164:10002

10:54:03.665  pjsua_media.c  .......RTCP socket reachable at 91.38.58.164:10003
10:54:03.666  pjsua_media.c  .......Media index 1 selected for audio call 0
10:54:03.667   udp0x1902b60  .......UDP media transport created
10:54:03.670  srtp0x1905570  ......SRTP uses keying method SDES
10:54:03.674   inv0x18b9b44  .....SDP negotiation done: Success
10:54:03.675  pjsua_media.c  ......Call 0: updating media..
10:54:03.676   udp0x18e0108  ........UDP media transport detached
10:54:03.676  pjsua_media.c  ........Media stream call00:0 is destroyed
10:54:03.677  pjsua_media.c  .......Audio updated, stream #0:  (inactive)
10:54:03.677   udp0x18e0108  .......UDP media transport destroyed
10:54:04.013   udp0x1902b60  ........UDP media transport detached
10:54:04.014  pjsua_media.c  ........Media stream call00:1 is destroyed
10:54:04.015   udp0x1902b60  .......UDP media transport started
10:54:04.018  srtp0x1905570  .......SRTP started, keying=SDES, crypto=AES_256_CM_HMAC_SHA1_80
10:54:04.019 argus_sipua_au  .......pjsua_aud_channel_update
10:54:04.019  pjsua_media.c  .......Audio updated, stream #1: PCMA (inactive)
10:54:04.020 argus_sip_ua_a  ......Call 0 media 0 [type=audio], status is None
10:54:04.020 argus_sip_ua_a  ......Call 0 media 1 [type=audio], status is Local hold
10:54:04.022 argus_sip_ua_a  ........argus_voip_log_on_tx_response
10:54:04.023   pjsua_core.c  ........TX 1139 bytes Response msg 200/INVITE/cseq=1 (tdta0x19083ec) to TLS 178.208.113.136:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 178.208.113.136:5061;received=178.208.113.136;branch=z9hG4bKac1189403799;alias
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
From: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07868-e81caafa-7c2316c04
To: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
CSeq: 1 INVITE
Contact: <sip:+495241708027@91.38.58.164:61218;transport=TLS;ob>
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, timer, norefersub, trickle-ice
Content-Type: application/sdp
Content-Length:   507

v=0
o=- 3946614840 3946614842 IN IP4 91.38.58.164
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 0 RTP/AVP 8 101
c=IN IP4 127.0.0.1
b=AS:82
m=audio 10002 RTP/SAVP 8 101
c=IN IP4 91.38.58.164
b=TIAS:64000
a=rtcp:10003 IN IP4 91.38.58.164
a=inactive
a=rtpmap:8 PCMA/8000
a=rtpmap:101 telephone-event/8000
a=fmtp:101 0-16
a=silenceSupp:off - - - -
a=ssrc:740334167 cname:64d28ac515f28399
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:LHQy1OSgVWvaSHfZKLDnW7I1USPVlK1Yyx4NlmROg1r4KF40N8uxqrk2sgrBQg==

--end msg--

10:54:04.077   pjsua_core.c  .RX 507 bytes Request msg ACK/cseq=1 (rdata0x18c0d0c) from TLS 178.208.113.136:5061:
ACK sip:+495241708027@91.38.58.164:61218;transport=TLS;ob SIP/2.0
Via: SIP/2.0/TLS 178.208.113.136:5061;alias;branch=z9hG4bKac243326298
Max-Forwards: 68
From: <sip:02351907026@ext-siptrunk.sip.bitel.net>;tag=00-07868-e81caafa-7c2316c04
To: <sip:05241708020@ext-siptrunk.sip.bitel.net>;tag=2698ffa7-5e6c-46a6-a8c8-e90d0ff20dc3
Call-ID: 4b426eab-b3bd-4b70-90a2-c43043df55b0
CSeq: 1 ACK
Contact: <sip:178.208.113.136:5061;transport=tls>
User-Agent: Mediant VE SBC/v.7.40A.501.392
Content-Length: 0


--end msg--
10:54:04.078 argus_sip_ua_a  .argus_voip_log_on_rx_request
10:54:07.591 argus_sip_ua_a !received Message
10:54:07.591 intec_sip_ua_l  argus_sip_ua rcvd: EVENT_CE_TEST_VOIP_RTCP_INFO_SEND, bTestId: 9, bSubTestId: 0, pUserData: 0x628510
10:54:07.592 intec_sip_ua_l  send: RTCP SR
10:54:07.592 intec_sip_ua_l  send RTCP packet len 64
```

I haven't tried to reproduce this, so this is basically just a guess.

As the scenario involves receiving SDP reoffer with additional SDP `m=audio` line, perhaps the call is not configured to allow multiple audio (e.g: `pjsua_call_setting.aud_cnt==1`, docs [here](https://docs.pjsip.org/en/2.13/api/generated/pjsip/group/group__PJSUA__LIB__BASE.html#_CPPv4N18pjsua_call_setting7aud_cntE)). So only one audio will be active. And from the log, audio index 1 (or second `m=` line) is selected, while `pjsua_call_setting.media_dir[1]` is perhaps still set to the default, i.e: `PJMEDIA_DIR_NONE`. To enable both audio, `aud_cnt` needs to be set to `2` and `pjsua_call_setting.media_dir` for both index, 0 & 1, set to `PJMEDIA_DIR_ENCODING_DECODING`.