UAC dialog doesn't update route_set when calling RFC 2543 UAS (thanks Binu K S)

_2007-03-01 18:38:01: @bennylp_ _created the issue on trac ticket [152](https://trac.pjsip.org/repos/ticket/152)_

Scenario:
 - 180 response arrives, with a tag and without route set
 - 200 response arrives, with the same tag as 180 response, but **with** route set.

In this case, dialog **MUST** update the route set, according to section 13.2.2.4 of RFC 3261.

Thanks Binu K S for reporting and observing this.

___
_2007-03-01 18:41:57: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-03-01 18:41:57: @bennylp_ _set **resolution** to **fixed**_

___
_2007-03-01 18:41:57: @bennylp_ _commented_

Fixed in [r1027](../commit/d41a3ddaa2064e3a42e076fac9bf7521026ad64e).
