Configuration to turn OFF Via sent-by checking in SIP responses to support IP address change

_2007-07-10 02:43:24: @bennylp_ _created the issue on trac ticket [352](https://trac.pjsip.org/repos/ticket/352)_

RFC 3261 Section 18.1 says:
> When a response is received, the client transport examines the top
> Via header field value.  If the value of the "sent-by" parameter in
> that header field value does not correspond to a value that the
> client transport is configured to insert into requests, the response
> MUST be silently discarded.


This check is done in sip_endpoint.c::endpt_on_rx_msg(). When PJSIP drops the request with wrong sent-by, a message like this will be printed to the log: 

-Dropping response Response msg 200/INVITE/cseq=608594373 (rdata00A99EF4) from 1.2.3.4:5060 because sent-by is mismatch"*

With the UA supporting IP address change, it is possible that the Via sent-by in the response is no longer recognized as the UAC's transport address, even when the UAS doesn't modify this Via sent-by values. This happens when the UAC has changed its transport IP address after it sent the request, but before response is received. In this case, the response will be dropped.

So to support IP address change, PJSIP must provide configuration to turn off this setting.


___
_2007-07-10 02:48:02: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-07-10 02:48:02: @bennylp_ _set **resolution** to **fixed**_

___
_2007-07-10 02:48:02: @bennylp_ _edited the issue description_

___
_2007-07-10 02:48:02: @bennylp_ _commented_

Done in [r1402](../commit/dedb7fc0966dbf1358d1b5bcfc1e2daa4a12bc2a):
Added `PJSIP_CHECK_VIA_SENT_BY` configuration macro to control whether PJSIP should perform Via sent-by check for SIP responses. Default is **1** (yes).


___
_2007-07-10 02:51:32: @bennylp_ _edited the issue description_

___
_2007-07-10 02:51:32: @bennylp_ _commented_

Additional note: SER/iptel.org is also known to produce wrong Via sent-by, so in this case the UA will need to disable Via sent-by checking too.