Send UDP keep-alive to original request address if response comes from different address

_2013-01-11 11:00:50: @nanangizz_ _created the issue on trac ticket [1607](https://trac.pjsip.org/repos/ticket/1607)_

For UDP, the spec says that server MUST send the response from the same address where the request was received ([RFC 3581 Section 4](http://tools.ietf.org/html/rfc3581#section-4)). However, in case the server is violating this spec, PJSIP would send the UDP keep-alive to the source address of the response instead.

This ticket fixes this behavior so that the keep alive will be sent to the original request address instead.

Thanks Fredrik Hansson for the report.

___
_2013-01-16 09:49:58: @bennylp_ _edited the issue description_

___
_2013-01-16 09:49:58: @bennylp_ _changed **title** from **Wrong target in sending SIP UDP transport keep alive** to **Send UDP keep-alive to original request address if response comes from different address**_

___
_2013-01-16 09:51:47: @bennylp_ _changed **status** from **new** to **closed**_

___
_2013-01-16 09:51:47: @bennylp_ _set **resolution** to **fixed**_

___
_2013-01-16 09:51:47: @bennylp_ _commented_

In [r4318](../commit/3c53b4602a34f20a4d4d8ae1937ea91cfec974a9):
Fixed #1607: Send UDP keep-alive to original request address if response comes from different address


___
_2013-02-27 14:18:21: @trengginas_ _commented_

In [r4398](../commit/9d43c9c5380c5b6c4a13fea75bc0c7cb791109d3):
Re #1607: backported to 1.x
