Missing To tag in out-of-dialog response (thanks Rui Macedo for the report)

_2010-01-21 17:06:52: @bennylp_ _created the issue on trac ticket [1030](https://trac.pjsip.org/repos/ticket/1030)_

PJSIP did not add To tag for responses which are outside or do not create dialog, and this does not conform with Section 8.2.6.2 of RFC 3261:
 
 -... the UAS MUST add a tag to the To header field in the response (with the exception of the 100 (Trying) response, in which a tag MAY be present)*

___
_2010-01-21 17:07:40: @bennylp_ _changed **status** from **new** to **closed**_

___
_2010-01-21 17:07:40: @bennylp_ _set **resolution** to **fixed**_

___
_2010-01-21 17:07:40: @bennylp_ _commented_

Fixed in [r3069](../commit/b2d60deaa97b7aa068b5df0c8632697fdbc7bce2)