Bug with SDP in offer/answer related to call hold scenario

_2008-07-13 11:04:53: @bennylp_ _created the issue on trac ticket [563](https://trac.pjsip.org/repos/ticket/563)_

Currently in pjsua-lib we use `a=inactive` and `c=0.0.0.0` to convey call hold. This is incorrect, and also inefficient when ICE is used since it will trigger ICE restart.

___
_2008-07-31 11:49:08: @bennylp_ _changed **milestone** from **release-0.9.5** to **release-1.0**_

___
_2008-07-31 19:27:14: @nanangizz_ _uploaded file_ [`ticket563.patch`](https://trac.pjsip.org/repos/attachment/ticket/563/ticket563.patch) _(12.1 KiB)_

Initial implementation of new call hold mechanism 

___
_2008-08-04 12:04:42: @bennylp_ _changed **milestone** from **release-1.0** to **release-1.0-rc1**_

___
_2008-08-04 16:02:54: @nanangizz_ _commented_

In [r2191](../commit/99d69522ac375f99e41452403e78b76fd2f0fead): Updated SDP offer/answer related to call hold scenario to conform to RFC 3264 section 8.4 (before: 'a=inactive' and 'c=0.0.0.0', now: 'a=sendonly' and muted ports).

___
_2008-08-05 14:22:30: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2008-08-05 14:22:30: @nanangizz_ _set **resolution** to **fixed**_