Handle G.722 wong clock rate bug and other codec with inconsistent clock rate

_2008-02-18 19:08:17: @nanangizz_ _created the issue on trac ticket [486](https://trac.pjsip.org/repos/ticket/486)_

Some codecs need to be treated special:
 - G.722, because of erroneously assigned in RFC 1890, its actual sampling rate is 16kHz but need to be defined as 8kHz in the SDP and also affecting its RTP timestamp clock rate. (RFC 3551 4.5.2)
 - MPEG audio, for compatibility with other MPEG systems, MPEG Audio uses 90kHz RTP timestamp clock rate separate from the audio sampling clock rate. (RFC 3551 4.5.13 & RFC 3119)

___
_2008-02-18 19:08:43: @nanangizz_ _edited the issue description_

___
_2008-02-18 19:11:20: @nanangizz_ _uploaded file_ [`ticket486.patch`](https://trac.pjsip.org/repos/attachment/ticket/486/ticket486.patch) _(9.7 KiB)_



___
_2008-02-18 19:21:24: @nanangizz_ _commented_

Attachment "ticket486.patch":
 - modified endpoint.c: special case for G.722 sampling rate defined as 8000.
 - modified stream.c:
   - added macro HANDLE_G722_MPEG_BUG to enable/disable special handling for those 'problematic' codecs.
   - renamed variable 'enc_samples_per_frame' into 'enc_samples_per_pkt'
   - added learning mechanism to detect peer RTP clockrate for those 'problematic' codecs, this feature should make pjmedia compatible with more SIP phones (they have different treatment for G.722 codec)
   - added RTP clock rate handling for those codecs, according to peer behaviour.


___
_2008-02-20 18:34:33: @nanangizz_ _uploaded file_ [`ticket486.2.patch`](https://trac.pjsip.org/repos/attachment/ticket/486/ticket486.2.patch) _(11.6 KiB)_



___
_2008-02-20 18:41:40: @nanangizz_ _changed **status** from **new** to **assigned**_

___
_2008-02-20 18:41:40: @nanangizz_ _commented_

Attachement ticket486.2.patch:
    - pjmedia/config.h: introduced macro PJMEDIA_HANDLE_G722_MPEG_BUG, when it defined, pjmedia will enable special handling on SDP and RTP clock rate for problematic codecs. This macro is enabled by default.
    - modified endpoint.c & session.c: special case for G.722 sampling rate defined as 8000 for SDP, and 16000 for session info.
    - modified stream.c:
          - added special handling for G.722
          - added learning mechanism to detect peer RTP clockrate for those 'problematic' codecs, this feature should make pjmedia compatible with more SIP phones (they have different treatment for G.722 codec) 
          - renamed variable 'enc_samples_per_frame' into 'enc_samples_per_pkt'


___
_2008-02-21 15:59:32: @nanangizz_ _uploaded file_ [`ticket486.3.patch`](https://trac.pjsip.org/repos/attachment/ticket/486/ticket486.3.patch) _(11.5 KiB)_



___
_2008-02-21 16:00:02: @nanangizz_ _commented_

Attachment ticket486.3.patch, same as ticket486.2.patch, with modification:
 - learning iteration, instead of boolean flag (incons_checked), now it uses counter (rtp_rx_check_cnt)
 - changed hardcoded numbers 160/320 to variable stream->xxx.samples_per_frame/pkt, just in case the 722 codec ptime is not 20
 - added jbuf reset after detection finished


___
_2008-02-21 16:49:05: @bennylp_ _changed **status** from **assigned** to **closed**_

___
_2008-02-21 16:49:05: @bennylp_ _set **resolution** to **fixed**_

___
_2008-02-21 16:49:05: @bennylp_ _changed **title** from **Handle audio/speech codec with 'problematic' clockrate** to **Handle G.722 wong clock rate bug and other codec with inconsistent clock rate**_

___
_2008-02-21 16:49:05: @bennylp_ _commented_

Committed in [r1813](../commit/7df2a15847303725be5520b5e655e1e1f491af27) with some modifications:
 - changed samples per frame division to use number of frames from previous RTP packet rather than current one.
 - Minor changes in the comments/documentation.

Thanks.
