Incorrect RTP marker and timestamp in DTMF event/RFC 2833 packet (thanks Pedro Sanchez)

_2007-08-13 12:49:22: @bennylp_ _created the issue on trac ticket [363](https://trac.pjsip.org/repos/ticket/363)_

Several bugs with DTMF event/RFC 2833 packet generation:

 1. PJSIP fails to set the SDP Marker flag to TRUE on the very first packet of each sequence as requested by RFC 2833 section 3.4.
 1. RTP time stamp in the RTP EVENT packets should remain the same for a single event, according to RFC 2833 section 3.6:

  "If an event continues for more than one period, the source generating the events should send a new event packet with the RTP timestamp value corresponding to the beginning of the event and the duration of the event increased correspondingly." 


___
_2007-08-13 12:51:04: @bennylp_ _edited the issue description_

___
_2007-08-13 12:51:55: @bennylp_ _edited the issue description_

___
_2007-08-13 12:54:35: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-08-13 12:54:35: @bennylp_ _set **resolution** to **fixed**_

___
_2007-08-13 12:54:35: @bennylp_ _changed **title** from **Several bugs with DTMF event/RFC 2833 packet generation (thanks Pedro Sanchez)** to **Incorrect RTP marker and timestamp in DTMF event/RFC 2833 packet (thanks Pedro Sanchez)**_

___
_2007-08-13 12:54:35: @bennylp_ _commented_

Fixed in [r1416](../commit/742ed7d4a82293610bb9824b6de431cebf1895a4)

___
_2007-08-13 12:56:19: @bennylp_ _commented_

**Note:**

One issue that hasn't been fixed:

RFC 2833 Section 3.6:

  If there has been no new event in the last interval, the event SHOULD be retransmitted three times or until the next event is recognized. This ensures that the duration of the event can be recognized correctly even if the last packet for an event is lost
