PJSip: Not able to hear sound on iOS device

### Describe the bug

**Problem:** Not able to hear any sound on my iOS device after the call gets connected to my VoIP server(which is modified to play only the recorded message).

I have analyzed the server & mobile app logs but have not observed any errors. Also haven’t noticed any difference in server logs for calls done via old and newly built PJSip project.

I did a lot of research on it but am still stuck on this sound issue. I am not sure if I am missing anything related to audio configuration or if anything is specifically required for iOS 16.

**Other details:** 
**TransportType:** TLS 
**OpenSSL:** 1_1_1r
**Server:** kamailio (5.2.0 (x86_64/linux))

Kindly help if someone has any idea on this.

**NOTE:** Although, not facing any issues and able to hear the voice if the call is made using previously built(using iOS 11 SDK i.e Xcode 9) PJsip project.

### Steps to reproduce

1. Build the PJsip project for iOS 16(i.e Xcode 14) where I am using the “c” based library PJsua. 
2. Created free accounts on Antisip.com to test the voice-calling functionality and found it working fine.
3. Now, Tried to same calling functionality on my VoIP server(which is modified to play only the recorded message) but no voice transmission happening.



### PJSIP version

2.12.1

### Context

The issue happens on iOS devices(i.e Simulators & iPhones).

### Log, call stack, etc

```shell
13:03:25.064         os_core_unix.c !pjlib 2.12.1 for POSIX initialized
13:03:25.066         sip_endpoint.c  .Creating endpoint instance...
13:03:25.067                  pjlib  .select() I/O Queue created (0x7fd564860228)
13:03:25.067         sip_endpoint.c  .Module "mod-msg-print" registered
13:03:25.068        sip_transport.c  .Transport manager created.
13:03:25.068           pjsua_core.c  .PJSUA state changed: NULL --> CREATED
13:03:25.068         sip_endpoint.c  .Module "mod-pjsua-log" registered
13:03:25.068         sip_endpoint.c  .Module "mod-tsx-layer" registered
13:03:25.069         sip_endpoint.c  .Module "mod-stateful-util" registered
13:03:25.069         sip_endpoint.c  .Module "mod-ua" registered
13:03:25.069         sip_endpoint.c  .Module "mod-100rel" registered
13:03:25.069         sip_endpoint.c  .Module "mod-pjsua" registered
13:03:25.069         sip_endpoint.c  .Module "mod-invite" registered
2023-01-25 13:03:25.360570+0530 ipjsua[3779:86251] [db] _LSSchemaConfigureForStore failed with error Error Domain=NSOSStatusErrorDomain Code=-10817 "(null)" UserInfo={_LSFunction=_LSSchemaConfigureForStore, ExpectedSimulatorHash={length = 32, bytes = 0xed662242 5fb7c0a8 1bf3f783 33b5c275 ... 5cef5e61 5d97a96c }, _LSLine=478, WrongSimulatorHash={length = 32, bytes = 0x3190f8e7 217931fc b7f7be3d 298bbb9a ... 8472784b 30a84b1d }}
2023-01-25 13:03:25.361609+0530 ipjsua[3779:86251] [db] Failed to initialize client context with error Error Domain=NSOSStatusErrorDomain Code=-10817 "(null)" UserInfo={_LSFunction=_LSSchemaConfigureForStore, ExpectedSimulatorHash={length = 32, bytes = 0xed662242 5fb7c0a8 1bf3f783 33b5c275 ... 5cef5e61 5d97a96c }, _LSLine=478, WrongSimulatorHash={length = 32, bytes = 0x3190f8e7 217931fc b7f7be3d 298bbb9a ... 8472784b 30a84b1d }}
2023-01-25 13:03:25.363154+0530 ipjsua[3779:86251] [ls] [u E6305B78-BA83-4CAC-9382-8845709E8F79] [com.apple.speech.MacinTalkFramework.MacinTalkAUSP(1.0)] unable to get plugin record
2023-01-25 13:03:25.365328+0530 ipjsua[3779:86251] [db] _LSSchemaConfigureForStore failed with error Error Domain=NSOSStatusErrorDomain Code=-10817 "(null)" UserInfo={_LSFunction=_LSSchemaConfigureForStore, ExpectedSimulatorHash={length = 32, bytes = 0xed662242 5fb7c0a8 1bf3f783 33b5c275 ... 5cef5e61 5d97a96c }, _LSLine=478, WrongSimulatorHash={length = 32, bytes = 0x3190f8e7 217931fc b7f7be3d 298bbb9a ... 8472784b 30a84b1d }}
2023-01-25 13:03:25.365439+0530 ipjsua[3779:86251] [db] Failed to initialize client context with error Error Domain=NSOSStatusErrorDomain Code=-10817 "(null)" UserInfo={_LSFunction=_LSSchemaConfigureForStore, ExpectedSimulatorHash={length = 32, bytes = 0xed662242 5fb7c0a8 1bf3f783 33b5c275 ... 5cef5e61 5d97a96c }, _LSLine=478, WrongSimulatorHash={length = 32, bytes = 0x3190f8e7 217931fc b7f7be3d 298bbb9a ... 8472784b 30a84b1d }}
2023-01-25 13:03:25.365615+0530 ipjsua[3779:86251] [ls] [u 821F9EDD-584C-40D2-A347-0EE77B936287] [com.apple.siri.SiriTTSService.synthesizer(1.0)] unable to get plugin record
2023-01-25 13:03:25.367185+0530 ipjsua[3779:86251] [db] _LSSchemaConfigureForStore failed with error Error Domain=NSOSStatusErrorDomain Code=-10817 "(null)" UserInfo={_LSFunction=_LSSchemaConfigureForStore, ExpectedSimulatorHash={length = 32, bytes = 0xed662242 5fb7c0a8 1bf3f783 33b5c275 ... 5cef5e61 5d97a96c }, _LSLine=478, WrongSimulatorHash={length = 32, bytes = 0x3190f8e7 217931fc b7f7be3d 298bbb9a ... 8472784b 30a84b1d }}
2023-01-25 13:03:25.367284+0530 ipjsua[3779:86251] [db] Failed to initialize client context with error Error Domain=NSOSStatusErrorDomain Code=-10817 "(null)" UserInfo={_LSFunction=_LSSchemaConfigureForStore, ExpectedSimulatorHash={length = 32, bytes = 0xed662242 5fb7c0a8 1bf3f783 33b5c275 ... 5cef5e61 5d97a96c }, _LSLine=478, WrongSimulatorHash={length = 32, bytes = 0x3190f8e7 217931fc b7f7be3d 298bbb9a ... 8472784b 30a84b1d }}
2023-01-25 13:03:25.367392+0530 ipjsua[3779:86251] [ls] [u 8A828EB0-61DB-4CF3-B83A-5CEE15733E44] [com.apple.ax.KonaTTSSupport.KonaSynthesizer(1.0)] unable to get plugin record
13:03:25.444        coreaudio_dev.c  .. dev_id 0: iPhone IO device  (in=1, out=1) 8000Hz
13:03:25.445        coreaudio_dev.c  ..core audio initialized
13:03:25.445                  pjlib  ..select() I/O Queue created (0x7fd56480f428)
13:03:25.455         sip_endpoint.c  .Module "mod-evsub" registered
13:03:25.455         sip_endpoint.c  .Module "mod-presence" registered
13:03:25.456         sip_endpoint.c  .Module "mod-mwi" registered
13:03:25.456         sip_endpoint.c  .Module "mod-refer" registered
13:03:25.456         sip_endpoint.c  .Module "mod-pjsua-pres" registered
13:03:25.456         sip_endpoint.c  .Module "mod-pjsua-im" registered
13:03:25.456         sip_endpoint.c  .Module "mod-pjsua-options" registered
13:03:25.456           pjsua_core.c  .1 SIP worker threads created
13:03:25.456           pjsua_core.c  .pjsua version 2.12.1 for Darwin-21.6/x86_64 initialized
13:03:25.456           pjsua_core.c  .PJSUA state changed: CREATED --> INIT
13:03:25.458            tlstp:54678  SIP TLS listener is ready for incoming connections at 192.168.11.210:54678
13:03:25.458           pjsua_core.c  PJSUA state changed: INIT --> STARTING
13:03:25.458         sip_endpoint.c  .Module "mod-unsolicited-mwi" registered
13:03:25.458           pjsua_core.c  .PJSUA state changed: STARTING --> RUNNING
13:03:25.459            pjsua_acc.c  Adding account: id=sip:SipUser@sip.dev.testserver.com
13:03:25.461            pjsua_acc.c  .Account sip:SipUser@sip.dev.testserver.com added with id 0
13:03:25.461            pjsua_acc.c  Acc 0: setting registration..
13:03:26.687     tlsc0x7fd5638f7828  .TLS client transport created
13:03:26.688     tlsc0x7fd5638f7828  .TLS transport 192.168.11.210:54679 is connecting to sip.dev.testserver.com:5061...
13:03:26.689            pjsua_acc.c  .Contact for acc 0 updated: <sip:SipUser@192.168.11.210:54679;transport=TLS;ob>;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-0000d86c478d>"
13:03:26.703           pjsua_core.c  ..TX 703 bytes Request msg REGISTER/cseq=13018 (tdta0x7fd5648adea8) to TLS 47.172.94.37:5061:
REGISTER sip:sip.dev.testserver.com SIP/2.0
Via: SIP/2.0/TLS 192.168.11.210:54679;rport;branch=z9hG4bKPjCEE9FACA-41E2-4828-B4B9-E906F6CCBAB2;alias
Max-Forwards: 70
From: <sip:SipUser@sip.dev.testserver.com>;tag=78BB1F83-CFEE-4328-85F5-116CC2D11810
To: <sip:SipUser@sip.dev.testserver.com>
Call-ID: 379C90A2-1DA5-4859-8C3A-E9145BEE2D8B
CSeq: 13018 REGISTER
Supported: outbound, path
Contact: <sip:SipUser@192.168.11.210:54679;transport=TLS;ob>;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-0000d86c478d>"
Expires: 800
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Content-Length:  0


--end msg--
13:03:26.703            pjsua_acc.c  .Acc 0: Registration sent
13:03:26.703            pjsua_acc.c  Acc 0: setting online status to 1..
2023-01-25 13:03:26.704089+0530 ipjsua[3779:86081] addSIPAccount
13:03:27.936     tlsc0x7fd5638f7828 !RFC 5922 (section 7.2) does not allow TLS wildcard certificates. Advise your SIP provider, please!
13:03:27.937     tlsc0x7fd5638f7828  TLS transport 192.168.11.210:54679 is connected to sip.dev.testserver.com:5061
13:03:28.332           pjsua_core.c  .RX 593 bytes Response msg 401/REGISTER/cseq=13018 (rdata0x7fd5638f7b18) from TLS 47.172.94.37:5061:
SIP/2.0 401 Unauthorized
Via: SIP/2.0/TLS 192.168.11.210:54679;rport=55004;branch=z9hG4bKPjCEE9FACA-41E2-4828-B4B9-E906F6CCBAB2;alias;received=25.234.11.12
From: <sip:SipUser@sip.dev.testserver.com>;tag=78BB1F83-CFEE-4328-85F5-116CC2D11810
To: <sip:SipUser@sip.dev.testserver.com>;tag=a81806dec06470e49f0c79b021d5adcf.80c9
Call-ID: 379C90A2-1DA5-4859-8C3A-E9145BEE2D8B
CSeq: 13018 REGISTER
WWW-Authenticate: Digest realm="sip.dev.testserver.com", nonce="Y9DFi2PQxF+nxo1pW6/1xHlwoZn6GGII"
Server: kamailio (5.2.0 (x86_64/linux))
Content-Length: 0


--end msg--
13:03:28.335            pjsua_acc.c  ....IP address change detected for account 0 (192.168.11.210:54679 --> 25.234.11.12:55004). Updating registration (using method 4)
13:03:28.335            pjsua_acc.c  ....Contact for acc 0 updated: <sip:SipUser@25.234.11.12:55004;transport=TLS;ob>;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-0000d86c478d>"
13:03:28.336      sip_auth_client.c  ...Digest algorithm is ""
13:03:28.338           pjsua_core.c  ....TX 913 bytes Request msg REGISTER/cseq=13019 (tdta0x7fd5648adea8) to TLS 47.172.94.37:5061:
REGISTER sip:sip.dev.testserver.com SIP/2.0
Via: SIP/2.0/TLS 25.234.11.12:55004;rport;branch=z9hG4bKPjCF6AC5BC-7786-4AC0-A298-4E4902B0EF91;alias
Max-Forwards: 70
From: <sip:SipUser@sip.dev.testserver.com>;tag=78BB1F83-CFEE-4328-85F5-116CC2D11810
To: <sip:SipUser@sip.dev.testserver.com>
Call-ID: 379C90A2-1DA5-4859-8C3A-E9145BEE2D8B
CSeq: 13019 REGISTER
Supported: outbound, path
Contact: <sip:SipUser@25.234.11.12:55004;transport=TLS;ob>;reg-id=1;+sip.instance="<urn:uuid:00000000-0000-0000-0000-0000d86c478d>"
Expires: 800
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Authorization: Digest username="SipUser", realm="sip.dev.testserver.com", nonce="Y9DFi2PQxF+nxo1pW6/1xHlwoZn6GGII", uri="sip:sip.dev.testserver.com", response="1e4b2723a450f5aea904744363da4134"
Content-Length:  0


--end msg--
13:03:28.726           pjsua_core.c  .RX 770 bytes Response msg 200/REGISTER/cseq=13019 (rdata0x7fd5638f7b18) from TLS 47.172.94.37:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 25.234.11.12:55004;rport=55004;branch=z9hG4bKPjCF6AC5BC-7786-4AC0-A298-4E4902B0EF91;alias;received=25.234.11.12
From: <sip:SipUser@sip.dev.testserver.com>;tag=78BB1F83-CFEE-4328-85F5-116CC2D11810
To: <sip:SipUser@sip.dev.testserver.com>;tag=a81806dec06470e49f0c79b021d5adcf.a134
Call-ID: 379C90A2-1DA5-4859-8C3A-E9145BEE2D8B
CSeq: 13019 REGISTER
Contact: <sip:SipUser@106.215.171.99:17147;transport=TLS;ob>;expires=20;+sip.instance="<urn:uuid:00000000-0000-0000-0000-000020d04816>";reg-id=1, <sip:SipUser@25.234.11.12:55004;transport=TLS;ob>;expires=800;+sip.instance="<urn:uuid:00000000-0000-0000-0000-0000d86c478d>";reg-id=1
Server: kamailio (5.2.0 (x86_64/linux))
Content-Length: 0


--end msg--
13:03:28.728            pjsua_acc.c  ....SIP outbound status for acc 0 is not active
13:03:28.729            pjsua_acc.c  ....sip:SipUser@sip.dev.testserver.com: registration success, status=200 (OK), will re-register in 800 seconds
2023-01-25 13:03:28.729734+0530 ipjsua[3779:86335] setAccountStateChanged
13:03:29.504           pjsua_call.c !Making call with acc #0 to sip:9999912345@sip.dev.testserver.com
13:03:29.505            pjsua_aud.c  .Set sound device: capture=-1, playback=-2, mode=0
13:03:29.506            pjsua_aud.c  ..Opening sound device (speaker + mic) PCM@16000/1/20ms
13:03:29.507        coreaudio_dev.c  ...Using VoiceProcessingIO audio unit
2023-01-25 13:03:29.587333+0530 ipjsua[3779:86251] [plugin] AddInstanceForFactory: No factory registered for id <CFUUID 0x6000027935e0> F8BB1C28-BAE8-11D6-9C31-00039315CD46
13:03:29.738        coreaudio_dev.c  ...core audio stream started
13:03:29.742          pjsua_media.c  .Call 0: initializing media..
13:03:29.742          pjsua_media.c  ..RTP socket reachable at 192.168.11.210:5061
13:03:29.742          pjsua_media.c  ..RTCP socket reachable at 192.168.11.210:5062
13:03:29.743          pjsua_media.c  ..Media index 0 selected for audio call 0
13:03:29.744      udp0x7fd5631582a0  ..UDP media transport created
13:03:29.749           pjsua_core.c  ....TX 1664 bytes Request msg INVITE/cseq=10609 (tdta0x7fd5639098a8) to TLS 47.172.94.37:5061:
INVITE sip:9999912345@sip.dev.testserver.com SIP/2.0
Via: SIP/2.0/TLS 25.234.11.12:55004;rport;branch=z9hG4bKPj7CD95D27-4AB6-4FE7-9C16-C88C3F21E66A;alias
Max-Forwards: 70
From: sip:SipUser@sip.dev.testserver.com;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: sip:9999912345@sip.dev.testserver.com
Contact: <sip:SipUser@25.234.11.12:55004;transport=TLS;ob>
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10609 INVITE
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, timer, norefersub
Session-Expires: 1800
Min-SE: 90
X-MSGID: 8392267
X-JWT: abcdefghijklmnopqrst_jwt_token_not_real
Content-Type: application/sdp
Content-Length:   638

v=0
o=- 3883620809 3883620809 IN IP4 192.168.11.210
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 5061 RTP/AVP 96 97 98 99 3 0 8 9 120 121 122
c=IN IP4 192.168.11.210
b=TIAS:64000
a=rtcp:5062 IN IP4 192.168.11.210
a=sendrecv
a=rtpmap:96 speex/16000
a=rtpmap:97 speex/8000
a=rtpmap:98 speex/32000
a=rtpmap:99 iLBC/8000
a=fmtp:99 mode=30
a=rtpmap:3 GSM/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:9 G722/8000
a=rtpmap:120 telephone-event/16000
a=fmtp:120 0-16
a=rtpmap:121 telephone-event/8000
a=fmtp:121 0-16
a=rtpmap:122 telephone-event/32000
a=fmtp:122 0-16
a=ssrc:1871145971 cname:4c6ad6f37a4612b6

--end msg--
13:03:29.751            pjsua_aud.c  .Closing iPhone IO device sound playback device and iPhone IO device sound capture device
13:03:29.758        coreaudio_dev.c  .core audio stream stopped
13:03:31.029           pjsua_core.c  .RX 458 bytes Response msg 100/INVITE/cseq=10609 (rdata0x7fd5638f7b18) from TLS 47.172.94.37:5061:
SIP/2.0 100 trying -- your call is important to us
Via: SIP/2.0/TLS 25.234.11.12:55004;rport=55004;branch=z9hG4bKPj7CD95D27-4AB6-4FE7-9C16-C88C3F21E66A;alias;received=25.234.11.12
From: sip:SipUser@sip.dev.testserver.com;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: sip:9999912345@sip.dev.testserver.com
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10609 INVITE
Server: kamailio (5.2.0 (x86_64/linux))
Content-Length: 0


--end msg--
13:03:31.220           pjsua_core.c  .RX 1442 bytes Response msg 200/INVITE/cseq=10609 (rdata0x7fd5638f7b18) from TLS 47.172.94.37:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 25.234.11.12:55004;received=25.234.11.12;rport=55004;branch=z9hG4bKPj7CD95D27-4AB6-4FE7-9C16-C88C3F21E66A;alias
Record-Route: <sip:17.302.840.116;r2=on;lr;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Record-Route: <sip:47.172.94.37:5061;transport=tls;r2=on;lr;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
From: <sip:SipUser@sip.dev.testserver.com>;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: <sip:9999912345@sip.dev.testserver.com>;tag=g5eay4NNe0D6S
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10609 INVITE
Contact: <sip:9999912345@17.502.640.105:5060;transport=udp>
User-Agent: FreeSWITCH-mod_sofia/1.10.7-release-19-883d2cb662~64bit
Accept: application/sdp
Allow: INVITE, ACK, BYE, CANCEL, OPTIONS, MESSAGE, INFO, UPDATE, REGISTER, REFER, NOTIFY
Require: timer
Supported: timer, path, replaces
Allow-Events: talk, hold, conference, refer
Session-Expires: 1800;refresher=uac
Content-Type: application/sdp
Content-Disposition: session
Content-Length: 246
Remote-Party-ID: "9999912345" <sip:9999912345@sip.dev.testserver.com>;party=calling;privacy=off;screen=no

v=0
o=FreeSWITCH 1674617893 1674617894 IN IP4 47.172.94.37
s=FreeSWITCH
c=IN IP4 47.172.94.37
t=0 0
m=audio 30754 RTP/SAVP 3 121
a=rtpmap:3 GSM/8000
a=rtpmap:121 telephone-event/8000
a=fmtp:121 0-15
a=sendrecv
a=rtcp:30755
a=ptime:20

--end msg--
2023-01-25 13:03:31.223954+0530 ipjsua[3779:86335] 

Call State : 3
13:03:31.231      inv0x7fd5648da8a8  ....SDP negotiation done: Success
13:03:31.232          pjsua_media.c  .....Call 0: updating media..
13:03:31.240          pjsua_media.c  .......Media stream call00:0 is destroyed
13:03:31.241      udp0x7fd5631582a0  ......UDP media transport started
13:03:31.241            pjsua_aud.c  ......Audio channel update..
13:03:31.243     strm0x7fd5638fc628  .......VAD temporarily disabled
13:03:31.244      udp0x7fd5631582a0  .......UDP media transport attached
13:03:31.246     strm0x7fd5638fc628  .......Encoder stream started
13:03:31.246     strm0x7fd5638fc628  .......Decoder stream started
13:03:31.246          pjsua_media.c  ......Audio updated, stream #0: GSM (sendrecv)
13:03:31.247            pjsua_aud.c  .....Conf connect: 1 --> 0
13:03:31.247           conference.c  ......Port 1 (sip:9999912345@sip.dev.testserver.com) transmitting to port 0 (iPhone IO device)
13:03:31.247            pjsua_aud.c  .....Conf connect: 0 --> 1
13:03:31.247           conference.c  ......Port 0 (iPhone IO device) transmitting to port 1 (sip:9999912345@sip.dev.testserver.com)
13:03:31.248           pjsua_core.c  .....TX 658 bytes Request msg ACK/cseq=10609 (tdta0x7fd5648ee8a8) to TLS 47.172.94.37:5061:
ACK sip:9999912345@17.502.640.105:5060;transport=udp SIP/2.0
Via: SIP/2.0/TLS 25.234.11.12:55004;rport;branch=z9hG4bKPj42C1DA7F-C034-4F28-8617-C5A52BF325FF;alias
Max-Forwards: 70
From: sip:SipUser@sip.dev.testserver.com;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: sip:9999912345@sip.dev.testserver.com;tag=g5eay4NNe0D6S
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10609 ACK
Route: <sip:47.172.94.37:5061;transport=tls;lr;r2=on;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Route: <sip:17.302.840.116;lr;r2=on;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Content-Length:  0


--end msg--
2023-01-25 13:03:31.249325+0530 ipjsua[3779:86335] 

Call State : 4
13:03:31.249           pjsua_core.c  .RX 1442 bytes Response msg 200/INVITE/cseq=10609 (rdata0x7fd5638f7b18) from TLS 47.172.94.37:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 25.234.11.12:55004;received=25.234.11.12;rport=55004;branch=z9hG4bKPj7CD95D27-4AB6-4FE7-9C16-C88C3F21E66A;alias
Record-Route: <sip:17.302.840.116;r2=on;lr;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Record-Route: <sip:47.172.94.37:5061;transport=tls;r2=on;lr;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
From: <sip:SipUser@sip.dev.testserver.com>;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: <sip:9999912345@sip.dev.testserver.com>;tag=g5eay4NNe0D6S
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10609 INVITE
Contact: <sip:9999912345@17.502.640.105:5060;transport=udp>
User-Agent: FreeSWITCH-mod_sofia/1.10.7-release-19-883d2cb662~64bit
Accept: application/sdp
Allow: INVITE, ACK, BYE, CANCEL, OPTIONS, MESSAGE, INFO, UPDATE, REGISTER, REFER, NOTIFY
Require: timer
Supported: timer, path, replaces
Allow-Events: talk, hold, conference, refer
Session-Expires: 1800;refresher=uac
Content-Type: application/sdp
Content-Disposition: session
Content-Length: 246
Remote-Party-ID: "9999912345" <sip:9999912345@sip.dev.testserver.com>;party=calling;privacy=off;screen=no

v=0
o=FreeSWITCH 1674617893 1674617894 IN IP4 47.172.94.37
s=FreeSWITCH
c=IN IP4 47.172.94.37
t=0 0
m=audio 30754 RTP/SAVP 3 121
a=rtpmap:3 GSM/8000
a=rtpmap:121 telephone-event/8000
a=fmtp:121 0-15
a=sendrecv
a=rtcp:30755
a=ptime:20

--end msg--
13:03:31.250           pjsua_core.c  ...TX 658 bytes Request msg ACK/cseq=10609 (tdta0x7fd5648ee8a8) to TLS 47.172.94.37:5061:
ACK sip:9999912345@17.502.640.105:5060;transport=udp SIP/2.0
Via: SIP/2.0/TLS 25.234.11.12:55004;rport;branch=z9hG4bKPj42C1DA7F-C034-4F28-8617-C5A52BF325FF;alias
Max-Forwards: 70
From: sip:SipUser@sip.dev.testserver.com;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: sip:9999912345@sip.dev.testserver.com;tag=g5eay4NNe0D6S
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10609 ACK
Route: <sip:47.172.94.37:5061;transport=tls;lr;r2=on;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Route: <sip:17.302.840.116;lr;r2=on;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Content-Length:  0


--end msg--
13:03:52.704           pjsua_call.c !Call 0 hanging up: code=0..
13:03:52.704          pjsua_media.c  .Call 0: deinitializing media..
13:03:52.708          pjsua_media.c  ..
  [CONFIRMED] To: sip:9999912345@sip.dev.testserver.com;tag=g5eay4NNe0D6S
    Call time: 00h:00m:21s, 1st res in 1482 ms, conn in 1509ms
    #0 audio GSM @8kHz, sendrecv, peer=-
       SRTP status: Not active Crypto-suite: 
       RX pt=3, last update:00h:00m:21.460s ago
          total 0pkt 0B (0B +IP hdr) @avg=0bps/0bps
          pkt loss=0 (0.0%), discrd=0 (0.0%), dup=0 (0.0%), reord=0 (0.0%)
                (msec)    min     avg     max     last    dev
          loss period:   0.000   0.000   0.000   0.000   0.000
          jitter     :   0.000   0.000   0.000   0.000   0.000
       TX pt=3, ptime=20, last update:never
          total 0pkt 0B (0B +IP hdr) @avg=0bps/0bps
          pkt loss=0 (0.0%), dup=0 (0.0%), reorder=0 (0.0%)
                (msec)    min     avg     max     last    dev 
          loss period:   0.000   0.000   0.000   0.000   0.000
          jitter     :   0.000   0.000   0.000   0.000   0.000
       RTT msec      :   0.000   0.000   0.000   0.000   0.000
13:03:52.716      udp0x7fd5631582a0  ...UDP media transport detached
13:03:52.719          pjsua_media.c  ...Media stream call00:0 is destroyed
13:03:52.721      udp0x7fd5631582a0  ..UDP media transport destroyed
2023-01-25 13:03:52.721361+0530 ipjsua[3779:86081] 

Call State : 5
13:03:52.723           pjsua_core.c  ....TX 658 bytes Request msg BYE/cseq=10610 (tdta0x7fd56480bea8) to TLS 47.172.94.37:5061:
BYE sip:9999912345@17.502.640.105:5060;transport=udp SIP/2.0
Via: SIP/2.0/TLS 25.234.11.12:55004;rport;branch=z9hG4bKPjDC1B43D4-733E-498F-96F8-9D3756628EB7;alias
Max-Forwards: 70
From: sip:SipUser@sip.dev.testserver.com;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: sip:9999912345@sip.dev.testserver.com;tag=g5eay4NNe0D6S
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10610 BYE
Route: <sip:47.172.94.37:5061;transport=tls;lr;r2=on;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Route: <sip:17.302.840.116;lr;r2=on;ftag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF;dlgcor=ffb.c5c1;nat=yes>
Content-Length:  0


--end msg--
13:03:53.147           pjsua_core.c  .RX 593 bytes Response msg 200/BYE/cseq=10610 (rdata0x7fd5638f7b18) from TLS 47.172.94.37:5061:
SIP/2.0 200 OK
Via: SIP/2.0/TLS 25.234.11.12:55004;received=25.234.11.12;rport=55004;branch=z9hG4bKPjDC1B43D4-733E-498F-96F8-9D3756628EB7;alias
From: <sip:SipUser@sip.dev.testserver.com>;tag=44D57DBF-93A0-4139-808D-4A4EF60CA2FF
To: <sip:9999912345@sip.dev.testserver.com>;tag=g5eay4NNe0D6S
Call-ID: 774E03F3-01CA-4145-BB30-A8C8C3E0FEF1
CSeq: 10610 BYE
User-Agent: FreeSWITCH-mod_sofia/1.10.7-release-19-883d2cb662~64bit
Allow: INVITE, ACK, BYE, CANCEL, OPTIONS, MESSAGE, INFO, UPDATE, REGISTER, REFER, NOTIFY
Supported: timer, path, replaces
Content-Length: 0


--end msg--
13:03:53.721            pjsua_aud.c  Closing sound device after idle for 1 second(s)
```


Pls refer to: https://trac.pjsip.org/repos/wiki/sound-problems