PRACK SDP offer does not processed by pjsip UAS

### Describe the bug

According to RFC 3262, section 5 (https://datatracker.ietf.org/doc/html/rfc3262#section-5) "If the UAC receives a reliable provisional response with an answer, it MAY generate an additional offer in the PRACK. If the UAS receives a PRACK with an offer, it MUST place the answer in the 2xx to the PRACK"
Pjproject mentions in the code that PRACK can contain only SDP answer (https://github.com/pjsip/pjproject/blob/551273f63969d19f6e6a52ed17a72dd720d51391/pjsip/src/pjsip-ua/sip_inv.c#L52) and works according to that assumption.

### Steps to reproduce

1. Send INVITE with SDP offer to pjproject UAS
2. Get 183 with SDP answer
3. Send PRACK with new SDP offer
4. pjproject UAS must respond 200 OK with SDP answer, but it responds with 200 OK without SDP
5. The call is cancelled, as SDP offer have not received the answer.

### PJSIP version

2.11

### Context

pjproject assumes that PRACK can't contain SDP offer, but it can. This behavior should be fixed to do SDP renegotiation when receiving new offer in PRACK.

### Log, call stack, etc

```shell
Example SIP-trace. INVITE is coming to pjsip UAS.

2022/01/31 13:24:45.608352 125.10.10.12:32489 -> 185.15.10.21:5060
INVITE sip:+034551989898@spid123.ims.mnc001.mcc238.3gppnetwork.org SIP/2.0
Max-Forwards: 65
Via: SIP/2.0/TCP 125.10.10.12:5060;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
To: <sip:+4551989898@62.35.18.42;user=phone>
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
Call-ID: p65550t1643635485m399035c1159391761s2
CSeq: 1 INVITE
Contact: <sip:sgc_c@125.10.10.12;transport=udp>;+g.3gpp.icsi-ref="urn%3Aurn-7%3A3gpp-service.ims.icsi.mmtel"
Record-Route: <sip:125.10.10.12;transport=udp;lr>
Accept-Contact: *;+g.3gpp.icsi-ref="urn%3Aurn-7%3A3gpp-service.ims.icsi.mmtel"
Min-Se: 900
P-Asserted-Identity: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>
P-Early-Media: supported
Session-Expires: 1800
Supported: timer
Supported: 100rel
Supported: precondition
Supported: histinfo
Content-Type: application/sdp
Content-Length: 668
Session-ID: c0be28262ee8d20082f465b4b711bed9
Allow: REGISTER, REFER, NOTIFY, SUBSCRIBE, PRACK, UPDATE, INVITE, ACK, OPTIONS, CANCEL, BYE
Accept: application/sdp

v=0
o=- 2123534372 3040834086 IN IP4 125.10.10.12
s=-
c=IN IP4 125.10.18.39
t=0 0
a=sendrecv
m=audio 3754 RTP/AVP 96 97 98 8 0 18 99
c=IN IP4 125.10.18.39
b=RR:1087
b=RS:362
a=curr:qos local none
a=curr:qos remote none
a=des:qos mandatory local sendrecv
a=des:qos optional remote sendrecv
a=rtpmap:96 AMR/8000
a=fmtp:96 mode-set=0,2,4,7;mode-change-period=2;mode-change-capability=2;mode-change-neighbor=1;max-red=0
a=rtpmap:97 AMR/8000
a=fmtp:97 mode-set=7;max-red=0
a=rtpmap:98 GSM-EFR/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:18 G729/8000
a=fmtp:18 annexb=no
a=rtpmap:99 telephone-event/8000
a=fmtp:99 0-15
a=maxptime:40


2022/01/31 13:24:45.608719 185.15.10.21:5060 -> 125.10.10.12:32489
SIP/2.0 100 Trying
Via: SIP/2.0/TCP 125.10.10.12:5060;received=125.10.10.12;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
Record-Route: <sip:125.10.10.12;transport=udp;lr>
Call-ID: p65550t1643635485m399035c1159391761s2
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
To: <sip:+4551989898@62.35.18.42;user=phone>
CSeq: 1 INVITE
Server: pbx
Content-Length:  0


2022/01/31 13:24:45.611679 185.15.10.21:5060 -> 125.10.10.12:32489
SIP/2.0 183 Session Progress
Via: SIP/2.0/TCP 125.10.10.12:5060;received=125.10.10.12;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
Record-Route: <sip:125.10.10.12;transport=udp;lr>
Call-ID: p65550t1643635485m399035c1159391761s2
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
To: <sip:+4551989898@62.35.18.42;user=phone>;tag=80073a2a-db1b-4b3a-aa14-55afb0b2741e
CSeq: 1 INVITE
Server: pbx
Contact: <sip:185.15.10.21:5060;transport=TCP>
Allow: OPTIONS, SUBSCRIBE, NOTIFY, PUBLISH, INVITE, ACK, BYE, CANCEL, UPDATE, PRACK, REFER
Require: precondition
Require: 100rel
RSeq: 22431
Content-Type: application/sdp
Content-Length:   387

v=0
o=- 2123534372 3040834088 IN IP4 185.15.10.21
s=pbx
c=IN IP4 185.15.10.21
t=0 0
m=audio 11472 RTP/AVP 8 99
a=rtpmap:8 PCMA/8000
a=rtpmap:99 telephone-event/8000
a=fmtp:99 0-15
a=ptime:20
a=maxptime:150
a=sendrecv
a=curr:qos remote none
a=curr:qos local sendrecv
a=des:qos mandatory remote sendrecv
a=des:qos optional local sendrecv
a=conf:qos remote sendrecv


2022/01/31 13:24:45.684112 125.10.10.12:32489 -> 185.15.10.21:5060
PRACK sip:185.15.10.21:5060;transport=tcp SIP/2.0
Max-Forwards: 66
Via: SIP/2.0/TCP 125.10.10.12:5060;branch=z9hG4bK9nc4cxsrhfuz8gufkl8lqlcuf
To: <sip:+4551989898@62.35.18.42;user=phone>;tag=80073a2a-db1b-4b3a-aa14-55afb0b2741e
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
Call-ID: p65550t1643635485m399035c1159391761s2
CSeq: 2 PRACK
RAck: 22431 1 INVITE
Require: precondition
Content-Type: application/sdp
Content-Length: 388
Allow: REGISTER, REFER, NOTIFY, SUBSCRIBE, PRACK, UPDATE, INVITE, ACK, OPTIONS, CANCEL, BYE

v=0
o=- 2123534372 3040834087 IN IP4 125.10.10.12
s=-
c=IN IP4 125.10.18.39
t=0 0
a=sendrecv
m=audio 3754 RTP/AVP 8 99
c=IN IP4 125.10.18.39
b=RR:3000
b=RS:1000
a=rtpmap:8 PCMA/8000
a=rtpmap:99 telephone-event/8000
a=fmtp:99 0-15
a=maxptime:40
a=curr:qos local sendrecv
a=curr:qos remote sendrecv
a=des:qos mandatory local sendrecv
a=des:qos optional remote sendrecv


2022/01/31 13:24:45.684315 185.15.10.21:5060 -> 125.10.10.12:32489
SIP/2.0 200 OK
Via: SIP/2.0/TCP 125.10.10.12:5060;received=125.10.10.12;branch=z9hG4bK9nc4cxsrhfuz8gufkl8lqlcuf
Call-ID: p65550t1643635485m399035c1159391761s2
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
To: <sip:+4551989898@62.35.18.42;user=phone>;tag=80073a2a-db1b-4b3a-aa14-55afb0b2741e
CSeq: 2 PRACK
Server: pbx
Content-Length:  0



2022/01/31 13:24:45.748878 125.10.10.12:32489 -> 185.15.10.21:5060
CANCEL sip:+458929071@mvno057-ucrn.hvoip.ip.operator.dk;user=phone SIP/2.0
Max-Forwards: 65
Via: SIP/2.0/TCP 125.10.10.12:5060;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
To: <sip:+4551989898@62.35.18.42;user=phone>
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
Call-ID: p65550t1643635485m399035c1159391761s2
CSeq: 1 CANCEL
Record-Route: <sip:125.10.10.12;transport=udp;lr>
Reason: Q.850;cause=31
Supported: timer
Supported: 100rel
Supported: precondition
Supported: histinfo
Content-Length: 0



2022/01/31 13:24:45.749108 185.15.10.21:5060 -> 125.10.10.12:32489
SIP/2.0 200 OK
Via: SIP/2.0/TCP 125.10.10.12:5060;received=125.10.10.12;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
Record-Route: <sip:125.10.10.12;transport=udp;lr>
Call-ID: p65550t1643635485m399035c1159391761s2
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
To: <sip:+4551989898@62.35.18.42;user=phone>;tag=80073a2a-db1b-4b3a-aa14-55afb0b2741e
CSeq: 1 CANCEL
Server: pbx
Content-Length:  0



2022/01/31 13:24:45.749747 185.15.10.21:5060 -> 125.10.10.12:32489
SIP/2.0 487 Request Terminated
Via: SIP/2.0/TCP 125.10.10.12:5060;received=125.10.10.12;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
Record-Route: <sip:125.10.10.12;transport=udp;lr>
Call-ID: p65550t1643635485m399035c1159391761s2
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
To: <sip:+4551989898@62.35.18.42;user=phone>;tag=80073a2a-db1b-4b3a-aa14-55afb0b2741e
CSeq: 1 INVITE
Server: pbx
Allow: OPTIONS, SUBSCRIBE, NOTIFY, PUBLISH, INVITE, ACK, BYE, CANCEL, UPDATE, PRACK, REFER
Require: precondition
Content-Length:  0



2022/01/31 13:24:45.753632 125.10.10.12:5060 -> 185.15.10.21:5060
ACK sip:+458929071@mvno057-ucrn.hvoip.ip.operator.dk;user=phone SIP/2.0
Max-Forwards: 70
Via: SIP/2.0/UDP 125.10.10.12:5060;received=125.10.10.12;branch=z9hG4bKccj55nj9v1i5ki511jdepk54r
To: <sip:+4551989898@62.35.18.42;user=phone>;tag=80073a2a-db1b-4b3a-aa14-55afb0b2741e
From: <sip:+4522336611@MSS.OPERATOR.TEL;user=phone>;tag=h7g4Esbg_p65550t1643635485m399035c1159391761s1_3040834397-1104810396
Call-ID: p65550t1643635485m399035c1159391761s2
CSeq: 1 ACK
Content-Length: 0
```
