An iLBC session must use same mode in both directions.

_2009-07-15 18:42:04: @nanangizz_ _created the issue on trac ticket [919](https://trac.pjsip.org/repos/ticket/919)_

Currently, pjsua will do asymmetric iLBC mode when SDP offer answer specify different iLBC mode.

RFC 3952 Section 5:
```
   It is important to emphasize the bi-directional character of the
   "mode" parameter - both sides of a bi-directional session MUST use
   the same "mode" value.

   The offer contains the preferred mode of the offerer.  The answerer
   may agree to that mode by including the same mode in the answer, or
   may include a different mode.  The resulting mode used by both
   parties SHALL be the lower of the bandwidth modes in the offer and
   answer.

   That is, an offer of "mode=20" receiving an answer of "mode=30" will
   result in "mode=30" being used by both participants.  Similarly, an
   offer of "mode=30" and an answer of "mode=20" will result in
   "mode=30" being used by both participants.
```

___
_2009-07-15 18:55:41: @nanangizz_ _commented_

In [r2834](../commit/873f3e4de64d55c5b04cfebe89fc19a4e191ba4e):
 - Added default ilbc mode into codec passthrough setting.
 - Added iLBC mode 'negotiation' in iLBC codec_open().
 - Updated stream_create() to prioritize codec_open(), that may update the codec params, over stream initializations involving codec params.


___
_2009-07-15 18:55:54: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2009-07-15 18:55:54: @nanangizz_ _set **resolution** to **fixed**_