Missing video keyframe

_2011-04-20 09:01:15: @nanangizz_ _created the issue on trac ticket [1234](https://trac.pjsip.org/repos/ticket/1234)_

Missing keyframe is a major and common issue in real-time video session. Packet lost or discarding packets by jitter buffer (opening video devs may take few seconds) in the beginning of video session could be the main cause.

We experienced this problem a lot in sipit! When using H.264, missing keyframe causes pjsua got no video (decoding failure), sometime video could be successfully decoded after call hold and resume. When using H.263, initial video came foggy (only the moving object part had clear view, background/other part was gray).

Solutions/ideas:
 1. Prevention:
    - for receiving direction:
      - prevent jitter buffer to discard first packet and following packets with same timestamp,
      - and/or, as long as there is space in jitter buffer, avoid dropping any video packets, just adjust the playback time (make it faster/slower), if possible.
    - for sending direction: force sending keyframes in some short periods in the beginning of video session for few seconds.
 1. Implementing media feedback/control mechanisms (for both directions):
    - Full Intra Request in [RFC 5104 3.5.1](http://tools.ietf.org/html/rfc5104#section-3.5.1)
    - Picture Loss Indication feedback in [RFC 4585 6.3.1](http://tools.ietf.org/html/rfc4585#section-6.3.1)
    - Fast Update Command for the Full Picture in [RFC 5168 7.1](http://tools.ietf.org/html//rfc5168#section-7.1). Note that some implementations refuse to send us SIP INFO request because we don't list "INFO" in our SIP header "Allow".

-Note*:
 - Missing keyframe detection has been implemented in this ticket along with SIP INFO mechanism.
 - Check #1437 for RTCP-FB PLI mechanism.

___
_2011-04-20 09:08:32: @nanangizz_ _edited the issue description_

___
_2011-07-11 04:31:37: @bennylp_ _changed **milestone** from **release-2.0-alpha** to **release-2.x**_

___
_2011-10-19 10:38:19: @nanangizz_ _changed **milestone** from **release-2.x** to **release-2.0-beta**_

___
_2011-12-07 10:43:29: @nanangizz_ _commented_

(In [3901]) Re #1234: Initial version of keyframe request/response via SIP INFO.




___
_2011-12-08 10:27:39: @nanangizz_ _commented_

(In [3904]) Re #1234: minor update, put libavcodec version check for constant AV_PICTURE_TYPE_I/FF_I_TYPE usage.



___
_2011-12-26 08:57:07: @bennylp_ _commented_

(In [3920]) Re #1234: increase default interval between two INFOs from 500 to 3000 ms

___
_2011-12-29 03:08:09: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2011-12-29 03:08:09: @nanangizz_ _set **resolution** to **fixed**_

___
_2011-12-29 03:08:09: @nanangizz_ _edited the issue description_