Simultaneous hold and SIP 491 (Request Pending)

### Describe the bug

Hello,

In the rare case where two endpoints attempt to place the call on hold at the same time, PJSIP generates a 491 error on both sides, and the hold doesn't go through. Though, I'm able to place the call on hold again from either endpoint.

Is this expected behavior or should PJSIP retry the invite later?

I found this blurb in [RFC 3261 section 14.1](https://www.rfc-editor.org/rfc/rfc3261.html#section-14.1):
> If a UAC receives a 491 response to a re-INVITE, it SHOULD start a
   timer with a value T chosen as follows:
> 1. If the UAC is the owner of the Call-ID of the dialog ID (meaning it generated the value), T has a randomly chosen value between 2.1 and 4 seconds in units of 10 ms.
> 2. If the UAC is not the owner of the Call-ID of the dialog ID, Thas a randomly chosen value of between 0 and 2 seconds in units of 10 ms.
>
> When the timer fires, the UAC SHOULD attempt the re-INVITE once more, if it still desires for that session modification to take place.

See logs below for the caller. The callee is very similar.

### Steps to reproduce

1. Connect two endpoints.
2. Place the call on hold simultaneously.

### PJSIP version

2.14

### Context

Any platform.

### Log, call stack, etc

```shell
09:23:28.593   pjsua_call.c !Putting call 0 on hold
09:23:28.595   srtp0x1a86d0  .SRTP uses keying method SDES
09:23:28.597   pjsua_core.c  ....TX 1239 bytes Request msg INVITE/cseq=2759 (tdta0x1d25ac) to TLS [10.7.106.174]:5061:
INVITE sip:1002@172.16.128.117:54238;transport=TLS;ob SIP/2.0
Via: SIP/2.0/TLS 172.16.128.115:54238;rport;branch=z9hG4bKPjITq7tiCQPtY9qPJtPkI4B84FYNLSLw0I;alias
Max-Forwards: 70
From: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
To: sip:1002@10.7.106.174;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
Contact: "1000" <sip:1000@172.16.128.115:54238;transport=TLS;ob>
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
CSeq: 2759 INVITE
Route: <sip:10.7.106.174:5061;transport=tls;lr>
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, timer, norefersub
Session-Expires: 1800;refresher=uac
Min-SE: 90
Content-Type: application/sdp
Content-Length:   491

v=0
o=- 3919324975 3919324976 IN IP4 172.16.128.115
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 4000 RTP/SAVP 9 8 0 120
c=IN IP4 172.16.128.115
b=TIAS:64000
a=rtpmap:9 G722/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:120 telephone-event/8000
a=fmtp:120 0-16
a=ssrc:1167055442 cname:71e6477b4affcfc3
a=rtcp:4001 IN IP4 172.16.128.115
a=rtcp-mux
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:Dg5+xyFC86oK+9bNo+V7H1XEKqAwcRl3NMuO55H1OTA8zl+FXUbFEbzvZ/3YCw==
a=sendonly

--end msg--
09:23:28.641   pjsua_core.c !.RX 445 bytes Response msg 100/INVITE/cseq=2759 (rdata0x1a55ec) from TLS [10.7.106.174]:5061:
SIP/2.0 100 trying -- your call is important to us
Via: SIP/2.0/TLS 172.16.128.115:54238;rport=54238;branch=z9hG4bKPjITq7tiCQPtY9qPJtPkI4B84FYNLSLw0I;alias;received=172.16.128.115
From: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
To: sip:1002@10.7.106.174;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
CSeq: 2759 INVITE
Server: kamailio (5.5.4 (x86_64/linux))
Content-Length: 0


--end msg--
09:23:28.773   pjsua_core.c  .RX 1318 bytes Request msg INVITE/cseq=24023 (rdata0x1a55ec) from TLS [10.7.106.174]:5061:
INVITE sip:1000@172.16.128.115:54238;transport=TLS;ob SIP/2.0
Via: SIP/2.0/TLS 10.7.106.174:5061;branch=z9hG4bKea26.c529ad55d50225788c787b26f1c23e0f.0;i=9b
Via: SIP/2.0/TLS 172.16.128.117:54238;received=172.16.128.117;rport=54238;branch=z9hG4bKPj8z9trMEICpgM8YUKg7iAYtPYvoVnrdpZ;alias
Max-Forwards: 69
From: <sip:1002@10.7.106.174>;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
To: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
Contact: "1002" <sip:1002@172.16.128.117:54238;transport=TLS;ob>
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
CSeq: 24023 INVITE
Allow: PRACK, INVITE, ACK, BYE, CANCEL, UPDATE, INFO, SUBSCRIBE, NOTIFY, REFER, MESSAGE, OPTIONS
Supported: replaces, 100rel, timer, norefersub
Session-Expires: 1800;refresher=uas
Min-SE: 90
Content-Type: application/sdp
Content-Length:   491

v=0
o=- 3919324976 3919324978 IN IP4 172.16.128.117
s=pjmedia
b=AS:84
t=0 0
a=X-nat:0
m=audio 4000 RTP/SAVP 9 8 0 120
c=IN IP4 172.16.128.117
b=TIAS:64000
a=rtpmap:9 G722/8000
a=rtpmap:8 PCMA/8000
a=rtpmap:0 PCMU/8000
a=rtpmap:120 telephone-event/8000
a=fmtp:120 0-16
a=ssrc:1014368794 cname:4d65fd701fe0a9e7
a=rtcp:4001 IN IP4 172.16.128.117
a=rtcp-mux
a=crypto:1 AES_256_CM_HMAC_SHA1_80 inline:0YKhhDx4gEmwNv4vjU41KOADI4JdgxB4/UfdhMkf4PlFvvCxPdgqqcLXq0mqKw==
a=sendonly

--end msg--
09:23:28.776   pjsua_core.c  .......TX 525 bytes Response msg 491/INVITE/cseq=24023 (tdta0x1d76ec) to TLS [10.7.106.174]:5061:
SIP/2.0 491 Another INVITE transaction in progress
Via: SIP/2.0/TLS 10.7.106.174:5061;received=10.7.106.174;branch=z9hG4bKea26.c529ad55d50225788c787b26f1c23e0f.0;i=9b
Via: SIP/2.0/TLS 172.16.128.117:54238;rport=54238;received=172.16.128.117;branch=z9hG4bKPj8z9trMEICpgM8YUKg7iAYtPYvoVnrdpZ;alias
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
From: <sip:1002@10.7.106.174>;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
To: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
CSeq: 24023 INVITE
Content-Length:  0


--end msg--
09:23:28.779   pjsua_core.c  .RX 407 bytes Response msg 491/INVITE/cseq=2759 (rdata0x1a55ec) from TLS [10.7.106.174]:5061:
SIP/2.0 491 Another INVITE transaction in progress
Via: SIP/2.0/TLS 172.16.128.115:54238;rport=54238;received=172.16.128.115;branch=z9hG4bKPjITq7tiCQPtY9qPJtPkI4B84FYNLSLw0I;alias
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
From: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
To: <sip:1002@10.7.106.174>;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
CSeq: 2759 INVITE
Content-Length:  0


--end msg--
09:23:28.780   pjsua_core.c  ..TX 447 bytes Request msg ACK/cseq=2759 (tdta0x1da64c) to TLS [10.7.106.174]:5061:
ACK sip:1002@172.16.128.117:54238;transport=TLS;ob SIP/2.0
Via: SIP/2.0/TLS 172.16.128.115:54238;rport;branch=z9hG4bKPjITq7tiCQPtY9qPJtPkI4B84FYNLSLw0I;alias
Max-Forwards: 70
From: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
To: sip:1002@10.7.106.174;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
CSeq: 2759 ACK
Route: <sip:10.7.106.174:5061;transport=tls;lr>
Content-Length:  0


--end msg--
09:23:28.910   pjsua_core.c  .RX 395 bytes Request msg ACK/cseq=24023 (rdata0x1a55ec) from TLS [10.7.106.174]:5061:
ACK sip:1000@172.16.128.115:54238;transport=TLS;ob SIP/2.0
Via: SIP/2.0/TLS 10.7.106.174:5061;branch=z9hG4bKea26.c529ad55d50225788c787b26f1c23e0f.0;i=9b
Max-Forwards: 69
From: <sip:1002@10.7.106.174>;tag=xDYu3d.Q2k2vMjKaf9YNvpGQF6.izNvG
To: "1000" <sip:1000@10.7.106.174>;tag=-ixk96IwUK4kMn67TtStBLx6EoOfZufX
Call-ID: MgRb.KdCUaTFgM1hxOe7uOZp2Gintbxj
CSeq: 24023 ACK
Content-Length: 0


--end msg--
09:23:28.912   pjsua_call.c  .....Error putting call 0 on hold (reason=491)
```


The library doesn't automatically handle this.