RTP timestamp incremented incorrectly for multichannel audio.

_2008-08-12 14:48:42: @nanangizz_ _created the issue on trac ticket [593](https://trac.pjsip.org/repos/ticket/593)_

Currently RTP timestamp is incremented based on number of samples processed, while this is considered to be incorrect for multichannel audio, as specified by RFC 3551 Section 4.1:

  The RTP clock rate used for generating the RTP timestamp is independent of the number of channels and the encoding; it usually equals the number of sampling periods per second.  For N-channel encodings, each sampling period (say, 1/8,000 of a second) generates N samples.  (This terminology is standard, but somewhat confusing, as the total number of samples generated per second is then the sampling rate times the channel count.)

___
_2008-08-19 13:12:30: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2008-08-19 13:12:30: @nanangizz_ _set **resolution** to **fixed**_

___
_2008-08-19 13:12:30: @nanangizz_ _commented_

In [r2224](../commit/9ff3c43b84d63783a531db427bb277fa01cbe822): Fixed RTP timestamp calculation in RX & TX for multichannel audio.