When outgoing request within dialog is responded with 481 or 408, should send BYE after terminating dialog (thanks Philippe Leuba)

_2008-02-19 08:19:11: @bennylp_ _created the issue on trac ticket [488](https://trac.pjsip.org/repos/ticket/488)_

When we send an INFO request in an INVITE initiated dialog and receive back a 481 or 408 response, the stack invokes the `on_state_changed()` callback of the invite session with the PJSIP_INV_STATE_DISCONNECTED state.

This result in the termination of the dialog and is compliant with section 12.2.1.2 of RFC 3261, however a BYE request is not sent.

 
___
_2008-02-19 08:24:26: @bennylp_ _changed **priority** from **normal** to **major**_

___
_2008-02-21 19:29:26: @bennylp_ _changed **status** from **new** to **closed**_

___
_2008-02-21 19:29:26: @bennylp_ _set **resolution** to **fixed**_

___
_2008-02-21 19:29:26: @bennylp_ _commented_

Done in [r1814](../commit/87402389b782809fe1705c32b6e7609f4d411af0)