Follow SDP answer changes in 18x & 2xx responses

_2018-06-25 03:55:06: @nanangizz_ _created the issue on trac ticket [2123](https://trac.pjsip.org/repos/ticket/2123)_

Previously, tickets #657, #1644, and #1764 allowed invite session to follow SDP answer changes in forking scenario (i.e: when responses have different To tags). This ticket expands the behavior to non-forking scenario, as long as the previous 18x response is not reliable (i.e: using 100rel), this should be inline with [RFC 6337 section 3.1.1](https://tools.ietf.org/html/rfc6337#section-3.1.1).

This new behavior can be turned off via compile-time setting `PJSIP_ACCEPT_MULTIPLE_SDP_ANSWERS` or run-time setting `pjsip_cfg()->endpt.accept_multiple_sdp_answers`. Application can inspect the new flag `inv->updated_sdp_answer` to check if the SDP negotiation was done with an initial or an updated SDP answer. Furthermore, the existing flag `inv->following_fork` can be used for checking whether the SDP answer update was on forking scenario.

Thanks George Joseph for the feedback and the patch.
___
_2018-06-25 04:01:55: @nanangizz_ _commented_

In [r5812](../commit/6a39a12f3da6a9dd27d8537cd89396228a4be1de): Follow SDP answer changes in 18x & 2xx responses on non-forking scenario.

___
_2018-06-25 04:02:21: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2018-06-25 04:02:21: @nanangizz_ _set **resolution** to **fixed**_