Behavior in cancelling INVITE session when no provisional response has been received (thanks Esbjörn Dominique)

_2007-05-25 15:58:25: @bennylp_ _created the issue on trac ticket [302](https://trac.pjsip.org/repos/ticket/302)_

RFC 3261 Section 9.1 says that CANCEL MUST NOT be sent if the INVITE transaction has not received any provisional response. So pjsip behaves correctly by not sending CANCEL here.

On the other hand, the section also says that the dialog must wait until either a response is received, or 64*T1 elapsed. When a provisional response is received, CANCEL should be sent, and when there is no response after 64*T1, the session can be destroyed.

This is the part where pjsip is not compliant.

Currently the invite session will just terminate the session immediately (CANCEL is not sent), so if any response is ever received, this will cause erroneous behavior.

___
_2007-05-30 05:30:17: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-05-30 05:30:17: @bennylp_ _set **resolution** to **fixed**_

___
_2007-05-30 05:30:17: @bennylp_ _edited the issue description_

___
_2007-05-30 05:30:17: @bennylp_ _changed **title** from **Behavior in cancelling INVITE session when no provisional response has been received** to **Behavior in cancelling INVITE session when no provisional response has been received (thanks Esbjörn Dominique)**_

___
_2007-05-30 05:30:17: @bennylp_ _commented_

Fixed in [r1319](../commit/1dc8be06b8d683edf0a7db3a9178dac4c1171795)

The behavior now is, when cancel is requested and the INVITE transaction has not received any provisional response:
 1. INVITE transaction ceases retransmission.
 1. When provisional response is received after this, CANCEL will be sent, and the session will terminate after remote sends 487 to the INVITE transaction.
 1. When no response (to INVITE transaction) is ever received, the INVITE transaction will time out after 64*T1 from the original transmission, and the callback is called.
 1. When 200 (to INVITE transaction) is received, the session will be established and no CANCEL will be sent.
