Bug in retransmission of non-INVITE SIP requests in UAC transaction (thanks Martin Peterzon)

_2007-04-11 19:29:30: @bennylp_ _created the issue on trac ticket [220](https://trac.pjsip.org/repos/ticket/220)_

Previously, the non-INVITE UAC transaction would stop retransmitting the request upon receiving provisional response, and it would also stop the timeout timer. This is wrong, according to RFC 3261 Section 17.1.2 Non-INVITE Client Transaction.

Thanks Martin Peterzon for pointing this out.

___
_2007-04-11 19:30:47: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-04-11 19:30:47: @bennylp_ _set **resolution** to **fixed**_

___
_2007-04-11 19:30:47: @bennylp_ _commented_

Committed in [r1189](../commit/cd0ce8f8b2a63042b90f56a74ef9858986339e91).


___
_2007-04-20 04:05:34: @bennylp_ _commented_

More fixes in [r1208](../commit/357c3c0a9e3c4d1b205f670cac28306c8560521d).

Thanks Alain Totouom <atotouom at gmx de> for pointing this out.


___
_2007-05-04 11:53:11: @bennylp_ _commented_

More fixes in [r1251](../commit/022f88745a222b765d1f94810583fa471b7f402c), thanks Alain Totouom <atotouom at gmx de> again.