Option to accept call replace when in early state and as UAS

_2012-09-28 06:42:04: @nanangizz_ _created the issue on trac ticket [1587](https://trac.pjsip.org/repos/ticket/1587)_

A user likes to have same transfer behaviour as he is used to his old analogue PABX. The user have an active call and wants to transfer it to another extension, but only when the extension is free. So first, the user put the 1st call in hold and invoke a new call, once the alert tone comes up (receiving 180), the user press transfer.

Currently, we will reject such transfer request, in line to [RFC 3891 section 3](http://tools.ietf.org/html/rfc3891#section-3):
```
If the Replaces header field matches an early dialog that was not
initiated by this UA, it returns a 481 (Call/Transaction Does Not
Exist) response to the new INVITE, and leaves the matched dialog
unchanged. Note that since Replaces matches only a single dialog,
the replacement dialog will not be retargeted according to the same
forking logic as the original request which created the early dialog.
```

Thanks Peter Koletzki for the feedback and the patch.

___
_2012-09-28 06:42:51: @nanangizz_ _edited the issue description_

___
_2012-09-28 07:20:17: @nanangizz_ _commented_

In [r4267](../commit/32709d58d1ae8f30f76afcc341799d7dbe64a523):
 - Added settings to accept call replace when in early state and as UAS:
   - `accept_replace_in_early_state` in `pjsip_cfg_t` for run time setting, and
   - `PJSIP_ACCEPT_REPLACE_IN_EARLY_STATE` for initial value and compile time setting.

___
_2012-09-28 09:56:10: @nanangizz_ _commented_

In [r4268](../commit/3f74e4bdbfca2a48791d5aa0d9e81b03a173ea6c):
Re #1587:
 - Don't answer call replace request with 200 if the replaced call hasn't reach confirmed state and has UAS role.
 - Only apply accept_replace_in_early_state when call is in early state.


___
_2012-09-28 11:07:24: @nanangizz_ _commented_

In [r4269](../commit/0bcd10fde92eeb558714486a4eaef9c12c64f117):
Re #1587: Respond to call replace request with the last provisional response sent in the replaced call.


___
_2012-11-20 07:43:45: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2012-11-20 07:43:45: @nanangizz_ _set **resolution** to **fixed**_