SDP ignored in 180/183 response without To tag

_2017-11-21 09:36:31: @nanangizz_ _created the issue on trac ticket [2066](https://trac.pjsip.org/repos/ticket/2066)_

According to RFC 3261 section 12.1.2 UAC Behavior:
```
... A UAC MUST be prepared to
receive a response without a tag in the To field, in
which case the tag is considered to have a value of null.

This is to maintain backwards compatibility with RFC
2543, which did not mandate To tags.
```

So even if the To tag is missing, the response should still be handled for backwards compatibility.

Thanks Kevin Harwell for the report and the patch.
___
_2017-11-22 02:07:49: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2017-11-22 02:07:49: @nanangizz_ _set **resolution** to **fixed**_

___
_2017-11-22 02:07:49: @nanangizz_ _commented_

In [r5700](../commit/96b5e742e0024babf47d69a0195bea2b1dfe3f6b):
Fixed #2066: SDP ignored in 180/183 response without To tag.
