Assertion when offering SDP media with port zero but answered with port non-zero

_2010-10-16 03:45:08: @nanangizz_ _created the issue on trac ticket [1148](https://trac.pjsip.org/repos/ticket/1148)_

When SDP media in the offer uses port zero, it means that the media is not wanted and must be answered with port zero as well (RFC 3264 Section 5.1 and 8.2). However, some implementations may disobey it (we found one!), and unfortunately it may lead to assertion in the SDP negotiation process (when there is dynamic payload type involved).

Sample SDP offer/answer that trigger assertion:
 - Offer (may be after some offer/answer cycles):
```
...
m=audio 4000 RTP/AVP 0
m=video 0 RTP/AVP 100
...
```

 - Answer:
```
...
m=audio 6000 RTP/AVP 0
m=video 7000 RTP/AVP 100
a=rtpmap:100 H261/90000
...
```

___
_2010-10-16 04:40:53: @nanangizz_ _edited the issue description_

___
_2010-10-16 05:40:03: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2010-10-16 05:40:03: @nanangizz_ _set **resolution** to **fixed**_

___
_2010-10-16 05:40:03: @nanangizz_ _commented_

(In [3347]) Fixed #1148:
 - Added check in processing answer, if media offer port is zero, just skip negotiation process.
 - Added SIPp test scenario.


