Terminate the call if 200/OK response to INVITE to SIPS target is not secure

_2014-02-17 05:06:05: @bennylp_ _created the issue on trac ticket [1735](https://trac.pjsip.org/repos/ticket/1735)_

The standard says that a SIPS dialog should be secure end to end. However some proxies or UASes disobey this requirement and give back plain SIP URI in the Record-Route or Contact header. We should terminate such call.

This ticket will implement !Contact/Record-Route header checks in incoming initial/subsequent INVITE/UPDATE request or 2xx response to INVITE/UPDATE. Contact URI should use "`sips`" scheme and Record-Route URI should use either "`sips`" scheme or "`transport=tls`" param. As UAC, if it receives 200/OK response to initial/subsequent INVITE/UPDATE with insecure !Contact/Record-Route, it will terminate the session. As UAS, if it receives initial/subsequent INVITE/UPDATE request with insecure !Contact/Route headers, it will send response with SIP status code 480 and Warning header: 381 "SIPS required".

This feature can be disabled by setting `pjsip_cfg()->endpt.disable_secure_dlg_check` to `PJ_TRUE` (default is `PJ_FALSE`).

Here are some texts from the standard:
 - All hops must use TLS (should we check if all Record-Route URIs use "sips" scheme or "transport=tls" param? Currently we'll just check the top Record-Route header)
   - http://tools.ietf.org/html/rfc5630#section-4:
     ```
This document specifies that SIPS means that the SIP resource
designated by the target SIPS URI is to be contacted securely, using
TLS on each hop between the UAC and the remote UAS (as opposed to
only to the proxy responsible for the target domain of the Request-
URI).
     ```
 - Contact header must use "sips" scheme:
   - in request
     http://tools.ietf.org/html/rfc5630#section-5.1.1:
     ```
As mandated by [RFC3261], Section 8.1.1.8, in a request, "if the
Request-URI or top Route header field value contains a SIPS URI, the
Contact header field MUST contain a SIPS URI as well".
     ```
   - in target refresh
     http://tools.ietf.org/html/rfc5630#section-5.1.1.2:
     ```
When a target refresh occurs within a dialog (e.g., re-INVITE
request, UPDATE request), the UAC MUST include a Contact header field
with a SIPS URI if the original request used a SIPS Request-URI.
     ```
   - in response
     http://tools.ietf.org/html/rfc3261#section-12.1.1:
     ```
If the request that initiated the dialog contained a SIPS URI in
the Request-URI or in the top Record-Route header field value, if
there was any, or the Contact header field if there was no Record-
Route header field, the Contact header field in the response MUST
be a SIPS URI.
     ```

___
_2014-08-21 06:36:49: @nanangizz_ _edited the issue description_

___
_2014-08-21 06:58:37: @nanangizz_ _changed **status** from **new** to **closed**_

___
_2014-08-21 06:58:37: @nanangizz_ _set **resolution** to **fixed**_

___
_2014-08-21 06:58:37: @nanangizz_ _commented_

In [r4899](../commit/f1d6c40d0b1e0f13943d9fda0d0096107fb31d1f):
Close #1735: Implemented secure dialog check of "sips" scheme in Contact/Record-Route header in incoming INVITE/UPDATE requests & responses.


___
_2014-08-21 08:20:36: @nanangizz_ _commented_

In [r4900](../commit/7d62d8f24673f93c5c2a94440949042308bd3014):
Re #1735: Fixed missing check of "sips" scheme in request line in pjsip_inv_verify_request3().
