Bug with REGISTER expiration calculation (thanks Philippe Leuba)

_2007-09-11 10:03:28: @bennylp_ _created the issue on trac ticket [371](https://trac.pjsip.org/repos/ticket/371)_

According to RFC 3261 Section 10.2.4:

When calculating registration refresh interval from the 200/OK response, client registration session should only inspect the expires parameter of Contact headers that it has sent earlier. It should not include Contact headers which are not its own.


___
_2007-09-11 10:06:17: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-09-11 10:06:17: @bennylp_ _set **resolution** to **fixed**_

___
_2007-09-11 10:06:17: @bennylp_ _commented_

Fixed in [r1431](../commit/e56b5b18adbb0d14c1197c3964b29f03f1b2c37c)