Implement merged request detection

_2007-09-20 19:29:51: @bennylp_ _created the issue on trac ticket [379](https://trac.pjsip.org/repos/ticket/379)_

Merged request is described in RFC 3261 Section 8.2.2.2:

```
8.2.2.2 Merged Requests

   If the request has no tag in the To header field, the UAS core MUST
   check the request against ongoing transactions.  If the From tag,
   Call-ID, and CSeq exactly match those associated with an ongoing
   transaction, but the request does not match that transaction (based
   on the matching rules in Section 17.2.3), the UAS core SHOULD
   generate a 482 (Loop Detected) response and pass it to the server
   transaction.

      The same request has arrived at the UAS more than once, following
      different paths, most likely due to forking.  The UAS processes
      the first such request received and responds with a 482 (Loop
      Detected) to the rest of them.
```

This feature is needed to cope with (Open)SER behavior in the scenario below.

 1. UAC sends INVITE
 1. UAS receives INVITE and sends 200 response
 1. This response doesn't reach UAC, so UAC keeps retransmitting INVITE
 1. At some point, it looks like the proxy kills the INVITE transaction, so upon receiving INVITE retransmission from UAC, it will forward the INVITE to UAS, with different branch.
 1. UAS, without merge request detection, will treat this INVITE as a new INVITE, thus it will create a new dialog.


___
_2007-09-20 19:31:17: @bennylp_ _changed **status** from **new** to **closed**_

___
_2007-09-20 19:31:17: @bennylp_ _set **resolution** to **duplicate**_

___
_2007-09-20 19:31:17: @bennylp_ _commented_

This duplicate of ticket #378