Make UAS as refresher in session timer when UAC doesn't support it (thanks to Glenn Walbran for the report)

_2014-12-05 04:02:02: @mingteluu_ _created the issue on trac ticket [1805](https://trac.pjsip.org/repos/ticket/1805)_

According to RFC 4028 section 9, table 2, if the UAC doesn't support timer, but a proxy inserts a Session-Expires header, then UAS (instead of UAC, which is the current behavior) has to be the refresher.

___
_2014-12-05 04:03:10: @mingteluu_ _changed **status** from **new** to **closed**_

___
_2014-12-05 04:03:10: @mingteluu_ _set **resolution** to **fixed**_

___
_2014-12-05 04:03:10: @mingteluu_ _commented_

In [r4967](../commit/92ec2fb3a7e435edab36ea78110af3d691ad0a62):
Fixed #1805: Make UAS as refresher in session timer when UAC doesn't support it (thanks to Glenn Walbran for the patch)
